﻿@model WebApplication.Models.ReactivesRemainings.RemainingsDetailsModel
@{
    ViewData["Title"] = "Детализация остатков по спецификации";
    var notWrittenOff = Model?.Arrivals?.Where(x => !x.IsWrittenOff).ToArray();
    var writtenOff = Model?.Arrivals?.Where(x => x.IsWrittenOff).ToArray();
}

<h2>@ViewData["Title"]</h2>


<div>
    <b>Спецификация</b>
    @Model?.SpecificationId - @Model?.SpecificationName
</div>
<hr />
<h4>Не списанные</h4>
<div>
    @if (notWrittenOff == null || !notWrittenOff.Any())
    {
        <span style="color: gray; font-size: small">Не списанные поставки c ненулевыми остатками не обнаружены</span>
    }
    else
    {
        <table class="table-bordered hightlightrows">
            <tr>
                <th style="text-align: center">Серия ЛКК</th>
                <th style="text-align: center">Остаток</th>
                <th style="text-align: center">Место хранения</th>
            </tr>

            @foreach (var item in notWrittenOff)
            {
                <tr>
                    <td>
                        <a asp-controller="Reactives" asp-action="Info" asp-route-lkksn="@item.Lkksn">
                            @item.Lkksn
                        </a>
                    </td>
                    <td>@item.Count @item.MesUnits</td>
                    <td>@item.StoredAt</td>
                </tr>
            }
        </table>
    }
</div>
<hr />
<h4>Списанные</h4>
<div>
    @if (writtenOff == null || !writtenOff.Any())
    {
        <span style="color: gray; font-size: small">Не списанные поставки c ненулевыми остатками не обнаружены</span>
    }
    else
    {
        <table class="table-bordered hightlightrows">
            <tr>
                <th style="text-align: center">Серия ЛКК</th>
                <th style="text-align: center">Остаток</th>
                <th style="text-align: center">Место хранения</th>
            </tr>

            @foreach (var item in writtenOff)
            {
                <tr>
                    <td>
                        <a asp-controller="Reactives" asp-action="Info" asp-route-lkksn="@item.Lkksn">
                            @item.Lkksn
                        </a>
                    </td>
                    <td>@item.Count @item.MesUnits</td>
                    <td>@item.StoredAt</td>
                </tr>
            }
        </table>
    }
</div>