﻿@model WebApplication.Models.ReactivesRemainings.RemainingsIndexFilterModel
@{
    ViewData["Title"] = "Остатки реактивов";
}

<h2>@ViewData["Title"]</h2>

<h4>
    <input type="checkbox" id="filter_chb" onclick="ShowHide('filter_chb', 'filter_div')" />
    <label for="filter_chb">Поиск</label>
</h4>

<div id="filter_div" style="display: none">
    <form asp-controller="ReactivesRemainings" asp-action="Index">
        <table>
            <tr>
                <th>Спецификации</th>
                <td>
                    <input type="text" asp-for="InsertedSpecificationFilter" />
                    <select asp-for="SelectedSpecificationFilter" asp-items="@Model.Specifications">
                        <option value=""></option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Статус списания</th>
                <td>
                    @foreach (var state in Model.IsWrittenOffFilterItems)
                    {
                        <input type="radio" asp-for="IsWrittenOffSelectedFilter" value="@state.Value" id="fwo_@state.Value" checked="@state.Selected" />
                        <label for="fwo_@state.Value">@state.Text</label>
                    }
                </td>
            </tr>
            <tr>
                <th style="vertical-align: top">С указанными атрибутами</th>
                <td>
                    @if (Model.Attributes != null && Model.Attributes.Any())
                    {
                        @foreach (var pair in Model.SelectedAttributesOn)
                        {
                            @Html.CheckBoxFor(m => m.SelectedAttributesOn[pair.Key], pair.Value)
                            <label for="SelectedAttributesOn_@(pair.Key)_">
                                @if (Model.Attributes.ContainsKey(pair.Key))
                                {
                                    <text>@Model.Attributes[pair.Key]</text>
                                }
                                else
                                {
                                    <text>Атрибут @pair.Value</text>
                                }
                            </label>
                        }
                    }
                    else
                    {
                        <span>Атрибуты в базе данных не зарегистрированы</span>
                    }
                </td>
            </tr>
            <tr>
                <th style="vertical-align: top">Без указанных атрибутов</th>
                <td>
                    @if (Model.Attributes != null && Model.Attributes.Any())
                    {
                        @foreach (var pair in Model.SelectedAttributesOff)
                        {
                            @Html.CheckBoxFor(m => m.SelectedAttributesOff[pair.Key], pair.Value)
                            <label for="SelectedAttributesOff_@(pair.Key)_">
                                @if (Model.Attributes.ContainsKey(pair.Key))
                                {
                                    <text>@Model.Attributes[pair.Key]</text>
                                }
                                else
                                {
                                    <text>Атрибут @pair.Value</text>
                                }
                            </label>
                        }
                    }
                    else
                    {
                        <span>Атрибуты в базе данных не зарегистрированы</span>
                    }
                </td>
            </tr>
            <tr>
                <th>Показать</th>
                <td>
                    <input type="text" asp-for="Limit" style="width: 35px" maxlength="3"/> строк
                </td>
            </tr>
        </table>
        <div style="text-align: center">
            <a asp-controller="ReactivesRemainings" asp-action="Index" style="text-decoration: none">
                <input type="button" class="btn btn-outline-dark margined-for-5px" value="Сброс"/>
            </a>
            <input type="submit" class="btn btn-outline-dark margined-for-5px" value="Поиск"/>
        </div>
    </form>
</div>

<h4>Результаты поиска</h4>

<div style="color: gray; font-size: small; margin: 0 0 7px 0">
    Ограничение вывода - не более @Model.Limit (строк)
</div>

@if (Model.Rows == null || !Model.Rows.Any())
{
    <div>
        Остатки реактивов по выбранным фильтрам не обнаружены.
    </div>
}
else
{
<table class="table-bordered hightlightrows">
    <tr>
        <th style="text-align: center;">Спецификация</th>
        <th style="text-align: center;max-width: 200px"> Остатки</th>
        <th style="text-align: center;width: 100px">Инструмент</th>
    </tr>
    @foreach (var row in Model.Rows)
    {
        <tr>
            <td style="vertical-align: top">
                <a asp-controller="ReactivesRemainings" asp-action="Details" asp-route-id="@row.SpecificationNumber" target="_blank">
                    @row.SpecificationNumber - @row.SpecificationName
                </a>
            </td>
            <td>
                @if (row.Counts == null || !row.Counts.Any())
                {
                    <span style="color: gray; font-size: small">-не обнаружено-</span>
                }
                else
                {
                    var first = true;
                    @foreach (var count in row.Counts)
                    {
                        if (first)
                        {
                            first = false;
                        }
                        else
                        {
                            <br/>
                        } 
                        <text>- @count.Value @count.MesUnit</text>
                    }
                }
            </td>
            <td style="text-align: center; vertical-align: top">
                <a asp-controller="ReactivesRemainings" asp-action="Details" asp-route-id="@row.SpecificationNumber" target="_blank"
                   style="text-decoration: none" title="Подробности по остаткам в этой спецификации">
                    <img src="~/images/icon-info.png" class="img-mini-btn-icon margined-for-5px" alt="[?]" />
                </a>
            </td>
        </tr>
    }
</table>
}