﻿@{
    ViewData["Title"] = "Панель администрирования";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4 block">
        <a asp-controller="Users" asp-action="Index" style="text-decoration: none">
            <h4>Управление пользователями</h4>
            <img class="img-block-logo" src="~/images/block-users.png" alt="" />
            <p style="font-size: small">
                В этом инструменте Вы можете управлять (добавлять, править, блокировать) пользователей.
            </p>
        </a>
    </div>

    @if (User.IsInRole("Создатель"))
    {
        <div class="col-md-4 block">
            <a asp-controller="DbRestore" asp-action="Index" style="text-decoration: none">
                <h4>Резервные копии базы данных</h4>
                <img class="img-block-logo" src="~/images/block-backup.png" alt="" />
                <p style="font-size: small">
                    В этом инструменте Вы можете управлять резервными копиями базы данных программы.
                </p>
            </a>
        </div>
    }
    else
    {
        <div class="col-md-4 block" style="color: gray" style="text-decoration: none">
            <h4>Резервные копии базы данных</h4>
            <img class="img-block-logo" src="~/images/block-backup.png" alt="" />
            <p style="font-size: small">
                Зайдите пользователем "Технический пользователь", чтобы воспользоваться инструментом
            </p>
        </div>
    }

</div>