﻿@model WebApplication.Models.Home.FailModel
@{
    ViewData["Title"] = "Провал";
}

<h2>Что-то пошло не так</h2>
<div>Действие, которое Вы собирались совершить, завершилось провалом.</div>
<h4>@Model.Name</h4>
<div class="text-danger">@Model.Description</div>
<div class="text-center">
    <input type="button" onclick="history.back();" value="Назад" class="btn btn-outline-dark" />
    &nbsp;
    <a asp-controller="Home" asp-action="Index">
        <input type="button" value="На главную" class="btn btn-outline-dark" />
    </a>
</div>