﻿@{
    ViewData["Title"] = "Старт";
}

<div class="text-center">
    <h1 class="display-4">Приветствие!</h1>
</div>

<div>
    <p>
        Вы успешно вошли в веб-приложение "Лаб контроль". Ваша группа: @(User.Claims.FirstOrDefault(x => x.Type.EndsWith("/role"))?.Value).
        Вам доступен следующий функционал:
    </p>

    @if (User.IsInRole("Администратор") || User.IsInRole("Создатель"))
    {
        <div class="row">
            <div class="col-md-4 block">
                <a asp-controller="Home" asp-action="AdminPanel" style="text-decoration: none">
                    <h4>Панель администрирования</h4>
                    <img class="img-block-logo" src="~/images/block-admin.png" alt="" />
                    <p style="font-size: small">
                        Позволяет проводить настройку веб-программы и проводить её техническое обслуживание.
                    </p>
                </a>
            </div>
        </div>
    }

    <div class="row">

        <div class="col-md-4 block">
            <a asp-controller="Home" asp-action="ReactivesPanel" style="text-decoration: none">
                <h4>Панель реактивов</h4>
                <img class="img-block-logo" src="~/images/block-reactive.png" alt="" />
                <p style="font-size: small">
                    Инструменты этой панели позволяют управлять реактивами: добавлять, просматривать, расходовать, изменять.
                </p>
            </a>
        </div>

        <div class="col-md-4 block">
            <a asp-controller="Home" asp-action="StatisticsPanel" style="text-decoration: none">
                <h4>Отчёты и статистика</h4>
                <img class="img-block-logo" src="~/images/block-statistics.png" alt="" />
                <p style="font-size: small">
                    Инструмент позволяет просматривать статистические данные и формировать отчёты по информации,
                    хранящейся в базе данных.
                </p>
            </a>
        </div>
    </div>
</div>

<div>
    Я, разработчик этого веб приложения, желаю Вам хорошего дня и приятной работы.
</div>
