﻿@{
    ViewData["Title"] = "Панель управления реактивами";
}

<h2>@ViewData["Title"]</h2>

<h3>Основные инструменты</h3>
<div class="row">
    <div class="block col-md-5">
        <a asp-controller="Specifications" asp-action="Index" style="text-decoration: none">
            <h4>Добавить поставку</h4>
            <img class="img-block-logo" src="~/images/block-specification.png" alt="" />
            <p style="font-size: small">
                Этот инструмент позволяет управлять спецификациями и их номерами. Также этот инструмент
                позволяет начать процедуру добавления новой поставки по конкретной спецификации.
            </p>
        </a>
    </div>
    <div class="block col-md-4">
        <a asp-controller="Reactives" asp-action="Index" style="text-decoration: none">
            <h4>Реактивы</h4>
            <img class="img-block-logo" src="~/images/block-arrival.png" alt="" />
            <p style="font-size: small">
                Этот инструмент позволяет просматривать и работать с учтёнными поставками реактивов, в том числе
                учитывать расход реагентов, списывать и править.
            </p>
        </a>
    </div>
</div>

<h3>Вспомогательные инструменты</h3>
<div class="row">
    <div class="block col-md-3">
        <a asp-controller="Producers" asp-action="Index" style="text-decoration: none">
            <h4>Производители</h4>
            <img class="img-block-logo" src="~/images/block-productor.png" alt="" />
            <p style="font-size: small">
                Этот инструмент позволяет управлять учётными данными производителей реагентов.
            </p>
        </a>
    </div>
    <div class="block col-md-3">
        <a asp-controller="Providers" asp-action="Index" style="text-decoration: none">
            <h4>Поставщики</h4>
            <img class="img-block-logo" src="~/images/block-provider.png" alt="" />
            <p style="font-size: small">
                Этот инструмент позволяет управлять учётными данными поставщиков реагентов.
            </p>
        </a>
    </div>
    <div class="block col-md-3">
        <a asp-controller="ReactivesAttributes" asp-action="Index" style="text-decoration: none">
            <h4>Атрибуты поставок</h4>
            <img class="img-block-logo" src="~/images/block-attributes.png" alt="" />
            <p style="font-size: small">
                Это инструмент позволяет управлять атрибутами, которые могут быть присвоены поставкам
                определённых реагентов.
            </p>
        </a>
    </div>
</div>

@if (User.IsInRole("Администратор") || User.IsInRole("Создатель"))
{
    <h3>Управление</h3>
    <div class="row">
        <div class="col-md-4 block">
            <a asp-controller="MesUnits" asp-action="Index" style="text-decoration: none">
                <h4>Единицы измерения</h4>
                <img class="img-block-logo"  src="~/images/block-mes-units.png" alt="" />
                <p style="font-size: small">
                    Данный инструмент позволяет просматривать и управлять единицами измерения для учёта реактивов.
                </p>
            </a>
        </div>
    </div>
}