﻿@{
    ViewData["Title"] = "Панель статистики и отчётов";
}

<h2>@ViewData["Title"]</h2>

<h4>Статистика реактивов</h4>
<div class="row">
    <div class="col-md-4 block">
        <a asp-controller="ReactivesRemainings" asp-action="Index" style="text-decoration: none">
            <h4>Остатки</h4>
            <img class="img-block-logo" src="~/images/block-remainings.png" alt="" />
            <p style="font-size: small">
                В этом инструменте Вы можете посмотреть остатки реагентов, а также получить
                дополнительную информацию по остаткам.
            </p>
        </a>
    </div>

    <div class="col-md-4 block">
        <a asp-controller="ReactivesMoving" asp-action="Index" style="text-decoration: none">
            <h4>Приход-расход</h4>
            <img class="img-block-logo" src="~/images/block-moving.png" alt="" />
            <p style="font-size: small">
                В этом инструменте можно посмотреть, какие реагенты и в каких объёмах приходили
                или расходовались за выбранный период времени.
            </p>
        </a>
    </div>

    <div class="col-md-3 block">
        <a asp-controller="ReactivesValidUntil" asp-action="Index" style="text-decoration: none">
            <h4>Срок годности</h4>
            <img class="img-block-logo" src="~/images/block-clock.png" alt="" />
            <p style="font-size: small">
                В этом инструменте можно посмотреть реактивы с истёкшим и истекающим сроками
                годности.
            </p>
        </a>
    </div>
</div>