﻿@model WebApplication.Models.ReactivesMoving.MovingIndexFilterModel
@{
    ViewData["Title"] = "Приход и расход реактивов";
    var incoming = Model.Rows?.Where(x => x.Difference >= 0).ToArray();
    var outgoing = Model.Rows?.Where(x => x.Difference < 0).ToArray();
    var arrivals = Model.Rows?.GroupBy(x => x.Lkksn).ToArray();
    var specs = Model.Rows?.GroupBy(x => x.SpecificationId).ToArray();
}

<h2>@ViewData["Title"]</h2>

<h3>
    <input type="checkbox" id="filter_chb" onclick="ShowHide('filter_chb', 'filter_div')" />
    <label for="filter_chb">Поиск</label>
</h3>

<div id="filter_div" style="display: none">
    <form asp-controller="ReactivesMoving" asp-action="Index">
        <table>
            <tr>
                <th>Отчётные даты</th>
                <td>
                    начало <input type="date" asp-for="FilterStartDate" /><br />
                    конец <input type="date" asp-for="FilterEndDate" />
                </td>
            </tr>
            <tr>
                <th>Спецификация</th>
                <td>
                    <input type="text" asp-for="FilterInsertedSpecification" />
                    <select asp-for="FilterSelectedSpecification" asp-items="@Model.Specifications">
                        <option value=""></option>
                    </select>
                </td>
            </tr>
            <tr>
                <th style="vertical-align: top">С указанными атрибутами</th>
                <td>
                    @if (Model.Attributes != null && Model.Attributes.Any())
                    {
                        @foreach (var pair in Model.FilterAttributesOn)
                        {
                            @Html.CheckBoxFor(m => m.FilterAttributesOn[pair.Key], pair.Value)
                            <label for="FilterAttributesOn_@(pair.Key)_">
                                @if (Model.Attributes.ContainsKey(pair.Key))
                                {
                                    <text>@Model.Attributes[pair.Key]</text>
                                }
                                else
                                {
                                    <text>Атрибут @pair.Value</text>
                                }
                            </label>
                        }
                    }
                    else
                    {
                        <span>Атрибуты в базе данных не зарегистрированы</span>
                    }
                </td>
            </tr>
            <tr>
                <th style="vertical-align: top">Без указанных атрибутов</th>
                <td>
                    @if (Model.Attributes != null && Model.Attributes.Any())
                    {
                        @foreach (var pair in Model.FilterAttributesOff)
                        {
                            @Html.CheckBoxFor(m => m.FilterAttributesOff[pair.Key], pair.Value)
                            <label for="FilterAttributesOff_@(pair.Key)_">
                                @if (Model.Attributes.ContainsKey(pair.Key))
                                {
                                    <text>@Model.Attributes[pair.Key]</text>
                                }
                                else
                                {
                                    <text>Атрибут @pair.Value</text>
                                }
                            </label>
                        }
                    }
                    else
                    {
                        <span>Атрибуты в базе данных не зарегистрированы</span>
                    }
                </td>
            </tr>
            <tr>
                <th>Пользователь</th>
                <td>
                    <select asp-items="@Model.Users" asp-for="FilterSelectedUser">
                        <option value=""></option>
                    </select>
                </td>
            </tr>
        </table>
        <div style="text-align: center">
            <a asp-controller="ReactivesMoving" asp-action="Index" style="text-decoration: none">
                <input type="button" class="btn btn-outline-dark margined-for-5px" value="Сброс" />
            </a>
            <input type="submit" class="btn btn-outline-dark margined-for-5px" value="Поиск" />
        </div>
    </form>
</div>

<h3>Результаты поиска</h3>

<div>
    <h4>Приход</h4>
    @if (incoming == null || !incoming.Any())
    {
        <span>Фактов прихода реактивов по выбранным Вами фильтрам не обнаружено</span>
    }
    else
    {
        <table class="table-bordered hightlightrows" style="width: 100%">
            <tr>
                <th style="text-align: center">Дата</th>
                <th style="text-align: center">Спецификация</th>
                <th style="text-align: center">Поставка</th>
                <th style="text-align: center">Объём</th>
                <th style="text-align: center">Комментарий</th>
                <th style="text-align: center">Пользователь</th>
            </tr>
            @foreach (var row in incoming)
            {
                <tr>
                    <td>@row.MovingDateTime?.ToString("dd.MM.yyyy HH:mm:ss")</td>
                    <td>
                        <a asp-controller="Specifications" asp-action="Info" asp-route-id="@row.SpecificationId">
                            @row.SpecificationId?.ToString("D3") - @row.SpecificationName
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Reactives" asp-action="Info" asp-route-lkksn="@row.Lkksn">
                            @row.Lkksn
                        </a>
                    </td>
                    <td style="color: darkgreen">+@row.Difference @row.MesUnits</td>
                    <td style="font-size: small">@row.RecordComment</td>
                    <td>@row.UserName</td>
                </tr>
            }
        </table>
    }
</div>

<div>
    <h4>Расход</h4>
    @if (outgoing == null || !outgoing.Any())
    {
        <span>Фактов прихода реактивов по выбранным Вами фильтрам не обнаружено</span>
    }
    else
    {
        <table class="table-bordered hightlightrows" style="width: 100%">
            <tr>
                <th style="text-align: center">Дата</th>
                <th style="text-align: center">Спецификация</th>
                <th style="text-align: center">Поставка</th>
                <th style="text-align: center">Объём</th>
                <th style="text-align: center">Комментарий</th>
                <th style="text-align: center">Пользователь</th>
            </tr>
            @foreach (var row in outgoing)
            {
                <tr>
                    <td>@row.MovingDateTime?.ToString("dd.MM.yyyy HH:mm:ss")</td>
                    <td>
                        <a asp-controller="Specifications" asp-action="Info" asp-route-id="@row.SpecificationId">
                            @row.SpecificationId?.ToString("D3") - @row.SpecificationName
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Reactives" asp-action="Info" asp-route-lkksn="@row.Lkksn">
                            @row.Lkksn
                        </a>
                    </td>
                    <td style="color: darkred">@row.Difference @row.MesUnits</td>
                    <td style="font-size: small">@row.RecordComment</td>
                    <td>@row.UserName</td>
                </tr>
            }
        </table>
    }
</div>

@if (arrivals != null && arrivals.Any())
{
    <div>
        <h4>По поставкам</h4>

        <table class="table-bordered hightlightrows" style="width: 100%">
            <tr>
                <th style="text-align: center">Дата</th>
                <th style="text-align: center">Спецификация</th>
                <th style="text-align: center">Приход</th>
                <th style="text-align: center">Расход</th>
                <th style="text-align: center">Ед.</th>
                <th style="text-align: center">Комментарий</th>
                <th style="text-align: center">Пользователь</th>
            </tr>
            @foreach (var arrival in arrivals)
            {
                <tr>

                    <th colspan="7" style="text-align: center">
                        <a asp-controller="Reactives" asp-action="Info" asp-route-lkksn="@arrival.Key">
                            @arrival.Key
                        </a>
                    </th>
                </tr>
                @foreach (var row in arrival)
                {

                    <tr>
                        <td>@row.MovingDateTime?.ToString("dd.MM.yyyy HH:mm:ss")</td>
                        <td>
                            <a asp-controller="Specifications" asp-action="Info" asp-route-id="@row.SpecificationId">
                                @row.SpecificationId?.ToString("D3") - @row.SpecificationName
                            </a>
                        </td>
                        <td style="color: darkgreen">
                            @if (row.Difference >= 0)
                            {
                                <text>+@row.Difference</text>
                            }
                        </td>
                        <td style="color: darkred">
                            @if (row.Difference < 0)
                            {
                                <text>@row.Difference</text>
                            }
                        </td>
                        <td>@row.MesUnits</td>
                        <td style="font-size: small">@row.RecordComment</td>
                        <td>@row.UserName</td>
                    </tr>
                }
            }
        </table>
    </div>
}

@if (specs != null && specs.Any())
{
    <div>
        <h4>По спецификациям</h4>

        <table class="table-bordered hightlightrows" style="width: 100%">
            <tr>
                <th style="text-align: center">Дата</th>
                <th style="text-align: center">Поставка</th>
                <th style="text-align: center">Приход</th>
                <th style="text-align: center">Расход</th>
                <th style="text-align: center">Ед.</th>
                <th style="text-align: center">Комментарий</th>
                <th style="text-align: center">Пользователь</th>
            </tr>
            @foreach (var spec in specs)
            {
                <tr>

                    <th colspan="7" style="text-align: center">
                        <a asp-controller="Specifications" asp-action="Info" asp-route-id="@spec.Key">
                            @spec.Key?.ToString("D3") - @Model.Rows.Where(x => x.SpecificationId == spec.Key).Select(x => x.SpecificationName).FirstOrDefault()
                        </a>
                    </th>
                </tr>
                @foreach (var row in spec)
                {

                    <tr>
                        <td>@row.MovingDateTime?.ToString("dd.MM.yyyy HH:mm:ss")</td>
                        <td>
                            <a asp-controller="Reactives" asp-action="Info" asp-route-lkksn="@row.Lkksn">
                                @row.Lkksn
                            </a>
                        </td>
                        <td style="color: darkgreen">
                            @if (row.Difference >= 0)
                            {
                                <text>+@row.Difference</text>
                            }
                        </td>
                        <td style="color: darkred">
                            @if (row.Difference < 0)
                            {
                                <text>@row.Difference</text>
                            }
                        </td>
                        <td>@row.MesUnits</td>
                        <td style="font-size: small">@row.RecordComment</td>
                        <td>@row.UserName</td>
                    </tr>
                }
            }
        </table>
    </div>
}
