﻿@model WebApplication.Models.DbRestore.DbRestoreCreateModel
@{
    ViewData["Title"] = "Создание резервной копии";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="DbRestore" asp-action="Create">
    <div asp-validation-summary="All" class="text-danger"></div>
    <table>
        <tr>
            <td><label asp-for="RootPassword">Пароль: </label></td>
            <td><input type="password" asp-for="RootPassword" /></td>
        </tr>
        <tr>
            <td><label asp-for="Comment">Комментарий:</label></td>
            <td><input type="text" asp-for="Comment"></td>
        </tr>
    </table>
    <div style="text-align: center">
        <a asp-controller="DbRestore" asp-action="Index" style="text-decoration: none">
            <input type="button" class="btn btn-outline-dark margined-for-5px" value="Отмена"/>
        </a>
        <input type="submit" class="btn btn-success margined-for-5px" value="Создать"/>
    </div>
</form>