﻿@model WebApplication.Models.DbRestore.DbRestoreDeleteModel
@{
    ViewData["Title"] = "Удаление резервной копии";
}

<h2>Удаление резервной копии</h2>

<div>
    Будет удалена следующая резервная копия:
    <table>
        <tr>
            <th>Номер:</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th>Имя:</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th>Создана:</th>
            <td>@Model.CreatedAt</td>
        </tr>
        <tr>
            <th>Комментарий:</th>
            <td>@Model.Comment</td>
        </tr>
    </table>
</div>

<form asp-controller="DbRestore" asp-action="Delete">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div style="display: none">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Name" />
        <input type="hidden" asp-for="CreatedAt" />
        <input type="hidden" asp-for="Comment" />
    </div>
    <div class="form-group">
        <label asp-for="RootPassword">Пароль:</label>
        <input type="password" asp-for="RootPassword"/>
    </div>
    <div class="text-center">
        <a asp-controller="DbRestore" asp-action="Index" style="text-decoration: none">
            <input type="button" class="btn btn-outline-dark margined-for-5px" value="Отмена"/>
        </a>
        <input type="submit" class="btn btn-danger margined-for-5px" value="Удалить"/>
    </div>
</form>