﻿@model WebApplication.Models.DbRestore.DbRestoreImportArrivalsResultModel
@{
    ViewData["Title"] = "Результаты импорта поставок";
}

<h2>@ViewData["Title"]</h2>

<div class="text-success">
    Импорт поставок успешно произведён.
</div>

<h4>Статистика импорта</h4>
<div>
    <b>Добавлено:</b>
    <table class="table-bordered">
        <tr>
            <th>Единиц измерения</th>
            <td>@Model.MesUnitsCount</td>
            <td>
                @if (Model.MesUnitsCount > 0)
                {
                    <span style="font-size: small">
                        Обратите внимание: сокращения для единиц измерения добавлены как полные их названия.
                        Для уточнения данных посетите <a asp-controller="MesUnits" asp-action="Index">страницу управления единицами измерений</a>.
                    </span>
                }
            </td>
        </tr>
        <tr>
            <th>Поставщиков</th>
            <td>@Model.ProvidersCount</td>
            <td>
                @if (Model.ProvidersCount > 0)
                {
                    <span style="font-size: small">
                        Обратите внимание: в "Лабконтроль" версии 1 поставщики и производители указывались в одном
                        поле. Возможно, стоит провести ревизию <a asp-controller="Providers" asp-action="Index">поставщиков</a>
                        и часть из них перенести в <a asp-controller="Producers" asp-action="Index">Производителей</a> для
                        <a asp-controller="Reactives" asp-action="Index">отдельных поставок</a>.
                    </span>
                }
            </td>
        </tr>
        <tr>
            <th>Поставок (и их изменений)</th>
            <td colspan="2">@Model.ArrivalsCount (@Model.ChangesCount)</td>
        </tr>
        <tr>
            <th>Перенесены с ошибками</th>
            <td>@Model.Warnings</td>
            <td>
                @if (Model.Warnings > 0)
                {
                    <span style="font-size: small">
                        Из-за принципиальных различий в структурах данных и порядке их управления, невозможно автоматически
                        безошибочно перенести те поставки, в которых менялась единица измерения в ходе расходования. 
                        Список этих поставок приведён ниже. Вам нужно вручную исправить все данные о поставке и расходовании
                        этих поставок через соответствующие инструменты изменения.
                    </span>
                }
            </td>
        </tr>
    </table>
</div>

@if (Model.Warnings > 0)
{
    <h4>Поставки, перенесённые с ошибками</h4>
    <div>
        <ul>
            @foreach (var lkksn in Model.WarningArrivals)
            {
                <li><a asp-controller="Reactives" asp-action="Info" asp-route-lkksn="@lkksn" target="_blank">@lkksn</a> 
                    <input type="checkbox" id="done-@lkksn"/> <label for="done-@lkksn">Исправлено</label></li>
            }
        </ul>
        <span style="color: gray; font-size: x-small">Галочки "Исправлено" ничего не делают. Добавлены только для того, чтобы запутаться, что уже отработано, что нет.</span>
    </div>
}

<div style="font-size: small">
    <b>НЕ ЗАКРЫВАЙТЕ ОКНО</b> до окончания работы с поставками, перенесёнными с ошибками: список заново не сформируется.
</div>
<div class="text-center">
    @if (Model.Warnings == 0)
    {
        <a asp-controller="Reactives" asp-action="Index" style="text-decoration: none">
            <input type="button" class="btn btn-outline-success margined-for-5px" value="Принято"/>
        </a>
    }
    else
    {
        <a asp-controller="Reactives" asp-action="Index" style="text-decoration: none">
            <input type="button" class="btn btn-outline-danger margined-for-5px" value="Работа окончена"/>
        </a>
    }
</div>