﻿@model WebApplication.Models.DbRestore.DbRestoreImportModel
@{
    ViewData["Title"] = "Импорт поставок";
}

<h2>@ViewData["Title"]</h2>

<div style="font-size: small">
    <p>Выполните следующие действия:</p>
    <ul>
        <li>предварительно <a asp-controller="DbRestore" asp-action="ImportUsers">добавьте пользователей</a>;</li>
        <li>предварительно <a asp-controller="DbRestore" asp-action="ImportSpecs">добавьте спецификации</a>;</li>
        <li>в папке "base/reactives" программы "Лабконтроль" версии 1 выберите все файлы ".csv";</li>
        <li>выбранные файлы добавьте в zip-архив с произвольным названием;</li>
        <li>приложите полученный архив в форму ниже.</li>
    </ul>
    <p>Работа по импорту может занять некоторое время.</p>
    <p style="color: darkred; font-size: x-small">
        Перед выполнением импорта данных рекомендуется
        <a asp-controller="DbRestore" asp-action="Create">создать резервную копию</a>
        текущей базы данных.
    </p>
</div>

<form asp-controller="DbRestore" asp-action="ImportArrivals" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <table>
        <tr>
            <th>Пароль корневого пользователя</th>
            <td><input type="password" asp-for="RootPassword" /></td>
        </tr>
        <tr>
            <th>Архив поставок</th>
            <td><input type="file" asp-for="UsersFile" /></td>
        </tr>
    </table>
    <div class="text-center">
        <a asp-controller="DbRestore" asp-action="Index" style="text-decoration: none">
            <input type="button" class="btn btn-outline-dark margined-for-5px" value="Отмена" />
        </a>
        <input type="submit" class="btn btn-success margined-for-5px" value="Импорт" />
    </div>
</form>