﻿@model WebApplication.Models.DbRestore.DbRestoreImportModel
@{
    ViewData["Title"] = "Импорт спецификаций";
}

<h2>@ViewData["Title"]</h2>

<div style="font-size: small">
    <p>
        Из папки "base" программы "Лабконтроль" версии 1 приложите в форму файл "spec.csv", не изменяя его.
        Учтите, если в текущей базе данных уже содержатся номера спецификаций, указанные в прикладываемом файле,
        то операция импорта будет полностью отменена. При необходимости частичного импорта, удалите или измените
        в текущей базе или в импортируемом файле соответствующие спецификации.
    </p>
    <p style="color: darkred; font-size: x-small">
        Перед выполнением импорта данных рекомендуется
        <a asp-controller="DbRestore" asp-action="Create">создать резервную копию</a>
        текущей базы данных.
    </p>
</div>

<form asp-controller="DbRestore" asp-action="ImportSpecs" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <table>
        <tr>
            <th>Пароль корневого пользователя</th>
            <td><input type="password" asp-for="RootPassword" /></td>
        </tr>
        <tr>
            <th>Файл "spec.csv"</th>
            <td><input type="file" asp-for="UsersFile" /></td>
        </tr>
    </table>
    <div class="text-center">
        <a asp-controller="DbRestore" asp-action="Index" style="text-decoration: none">
            <input type="button" class="btn btn-outline-dark margined-for-5px" value="Отмена" />
        </a>
        <input type="submit" class="btn btn-success margined-for-5px" value="Импорт" />
    </div>
</form>