﻿@model WebApplication.Models.DbRestore.DbRestoreImportModel
@{
    ViewData["Title"] = "Импорт пользователей";
}

<h2>@ViewData["Title"]</h2>

<div style="font-size: small">
    <p>Выполните следующие шаги</p>
    <ul>
        <li>скопируйте файл "users.csv" из каталога "base" программы "Лабконтроль" версии 1;</li>
        <li>откройте копию файла "users.csv" любым текстовым редактором;</li>
        <li>измените файл так, чтобы каждая строка соответствовала формату, указанному ниже;</li>
        <li>сохраните копию файла;</li>
        <li>загрузите копию файла в форму ниже и нажмите "импортировать".</li>
    </ul>
    <p>Каждая строка загружаемого файла должна содержать:</p>
    <ul>
        <li>полное имя пользователя (Ф.И.О.) в произвольном формате (эта информация уже есть в файле от "Лабконтроль" версии 1);</li>
        <li>логин пользователя для входа в веб приложение;</li>
        <li>пароль пользователя для входа в веб приложение;</li>
        <li>номер группы пользователей: "2" - администратор; "3" - оператор.</li>
    </ul>
    <p>Значения в каждой строке нужно разделить знаком "точка с запятой".</p>
    <p>
        Например: [Иванов Иван Иванович;ivanov;qwerty;3]. Этот пользователь сможет войти в веб-приложение
        через пару логин-пароль ivanov/qwerty, он будет состоять в группе "Оператор", а отображаемое его 
        имя будет "Иванов Иван Иванович".
    </p>
    <p style="color: darkred; font-size: x-small">
        Перед выполнением импорта данных рекомендуется 
        <a asp-controller="DbRestore" asp-action="Create">создать резервную копию</a> 
        текущей базы данных.
    </p>
</div>

<form asp-controller="DbRestore" asp-action="ImportUsers" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <table>
        <tr>
            <th>Пароль корневого пользователя</th>
            <td><input type="password" asp-for="RootPassword"/></td>
        </tr>
        <tr>
            <th>Файл "users.csv"</th>
            <td><input type="file" asp-for="UsersFile"/></td>
        </tr>
    </table>
    <div class="text-center">
        <a asp-controller="DbRestore" asp-action="Index" style="text-decoration: none">
            <input type="button" class="btn btn-outline-dark margined-for-5px" value="Отмена"/>
        </a>
        <input type="submit" class="btn btn-success margined-for-5px" value="Импорт"/>
    </div>
</form>