﻿@using System.Globalization
@model IEnumerable<WebApplication.Models.DbRestore.DbRestoreFileInfoModel>
@{
    ViewData["Title"] = "Резервные копии базы данных";

    static string SizeString(long size)
    {
        if (size / 1_024 == 0)
        {
            return size.ToString("N0") + " Б";
        }

        if (size / 1_048_576 == 0)
        {
            return (size / 1_024).ToString("N0") + " КБ";
        }

        if (size / 1_073_741_824 == 0)
        {
            return (size / 1_048_576).ToString("N0") + " МБ";
        }

        return (size / 1_073_741_824) + "ГБ";
    }
}

<h4>@ViewData["Title"]</h4>

<div style="text-align: right; text-decoration: none">
    <a asp-controller="DbRestore" asp-action="Create" class="text-dark" style="text-decoration: underline"
       title="Позволяет создать резервную копию из текущего состояния базы данных">
        <img src="images/icon-add.png" alt="[+]" class="img-mini-btn-icon" />
        Создать
    </a>
    <a asp-controller="DbRestore" asp-action="Upload" class="text-dark" style="text-decoration: underline"
       title="Позволяет загрузить на сервер ранее созданную резервную копию базы данных">
        <img src="images/icon-play.png" alt="[&rArr;]" class="img-mini-btn-icon" />
        Загрузить
    </a>
</div>

<div>
    <h4>Резервные копии</h4>
    @if (Model == null || !Model.Any())
    {
        <p>В настоящее время не создано ни одной резервной копии базы данных</p>
    }
    else
    {
        <table class="table-bordered hightlightrows">
            <tr>
                <th style="width: 30px; text-align: center">№</th>
                <th style="text-align: center">Копия</th>
                <th style="text-align: center">Создана</th>
                <th style="text-align: center">Размер</th>
                <th style="text-align: center">Комментарий</th>
                <th style="width: 75px; text-align: center">Управление</th>
            </tr>
            @foreach (var file in Model)
            {
                <tr>
                    <td style="text-align: center">@file.Id</td>
                    <td>
                        <a asp-controller="DbRestore" asp-action="Download" asp-route-id="@file.Id"
                           style="text-decoration: none" title="Загрузить файл базы данных себе">
                            @file.Name
                        </a>
                    </td>
                    <td>@file.CreationDateTime.ToString("dd.MM.yyyy HH:mm:ss")</td>
                    <td>@SizeString(file.Size)</td>
                    <td style="font-size: small">@file.Comment</td>
                    <td style="text-align: center">
                        <a asp-controller="DbRestore" asp-action="ReComment" asp-route-id="@file.Id"
                           style="text-decoration: none" title="Изменить комментарий к резервной копии">
                            <img src="images/icon-edit.png" alt="[?]" class="img-mini-btn-icon"/>
                        </a>
                        <a asp-controller="DbRestore" asp-action="Restore" asp-route-id="@file.Id"
                           style="text-decoration: none" title="Восстановить базу по этой резервной копии">
                            <img src="images/icon-check.png" alt="[&rArr;]" class="img-mini-btn-icon"/>
                        </a>
                        <a asp-controller="DbRestore" asp-action="Delete" asp-route-id="@file.Id"
                           style="text-decoration: none" title="Удалить файл резервной копии с сервера">
                            <img src="images/icon-delete.png" alt="[X]" class="img-mini-btn-icon"/>
                        </a>
                    </td>
                </tr>
            }
        </table>
        <p><b>Всего</b> резервных копий - @Model.Count(); общим объёмом - @SizeString(Model.Sum(x => x.Size))</p>
    }


</div>

<div>
    <h4>Импорт из "Лабконтроль" версии 1</h4>
    <ul>
        <li><a asp-controller="DbRestore" asp-action="ImportUsers">Шаг 1. Добавить пользователей</a></li>
        <li><a asp-controller="DbRestore" asp-action="ImportSpecs">Шаг 2. Добавить спецификаций</a></li>
        <li><a asp-controller="DbRestore" asp-action="ImportArrivals">Шаг 3. Добавить поставки реагентов</a></li>
    </ul>
</div>