﻿@model WebApplication.Models.DbRestore.DbRestoreReCommentModel 
@{
    ViewData["Title"] = "Править комментарий к резервной копии";
}

<h2>@ViewData["Title"]</h2>

<div>
    Будет уточнён комментарий к следующей резервной копии:
    <table>
        <tr>
            <th>Номер:</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th>Имя:</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th>Создана:</th>
            <td>@Model.CreatedAt</td>
        </tr>
        <tr>
            <th>Комментарий:</th>
            <td>@Model.OldComment</td>
        </tr>
    </table>
</div>

<form asp-controller="DbRestore" asp-action="ReComment">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div style="display: none">
        <input type="hidden" asp-for="Id"/>
        <input type="hidden" asp-for="Name"/>
        <input type="hidden" asp-for="CreatedAt"/>
        <input type="hidden" asp-for="OldComment"/>
    </div>
    <div class="form-group">
        <label asp-for="NewComment">Новый комментарий:</label>
        <input type="text" asp-for="NewComment"/>
    </div>
    <div class="text-center">
        <a asp-controller="DbRestore" asp-action="Index" style="text-decoration: none">
            <input type="button" class="btn btn-outline-dark margined-for-5px" value="Отмена"/>
        </a>
        <input type="submit" class="btn btn-success margined-for-5px" value="Применить" />
    </div>
</form>