﻿@model WebApplication.Models.DbRestore.DbRestoreImportSingleResultModel
@{
    ViewData["Title"] = Model.Title;
}

<h2>@Model.Title</h2>

<div class="text-success">
    @Model.SuccessString
</div>

<div class="text-center">
    <a asp-controller="DbRestore" asp-action="Index">
        <input type="button" class="btn btn-outline-success" value="Принято" />
    </a>
</div>