﻿@model WebApplication.Models.DbRestore.DbRestoreUploadFileModel
@{
    ViewData["Title"] = "Загрузка резервной копии";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="DbRestore" asp-action="Upload" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <table>
        <tr>
            <th><label asp-for="RootPassword">Пароль</label></th>
            <td><input type="password" asp-for="RootPassword"/></td>
        </tr>
        <tr>
            <th><label asp-for="UploadedFile">Загрузите файл:</label></th>
            <td><input type="file" asp-for="UploadedFile"/></td>
        </tr>
    </table>
    <div class="text-center">
        <a asp-controller="DbRestore" asp-action="Index" style="text-decoration: none">
            <input type="button" class="btn btn-outline-dark margined-for-5px" value="Отмена"/>
        </a>
        <input type="submit" class="btn btn-success margined-for-5px" value="Загрузить"/>
    </div>
</form>