﻿@model WebApplication.Models.Specifications.SpecificationIndexModel
@{
    ViewData["Title"] = "Новая спецификация";
}

<h2>Добавление спецификации</h2>

<div>
    <form asp-action="Add" asp-controller="Specifications">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <div class="form-group margined-for-5px">
                <label asp-for="NumString">Номер:</label>
                <input type="text" asp-for="NumString" maxlength="3" style="width: 40px"/>
            </div>
            <div class="form-group margined-for-5px">
                <label asp-for="Name">Название:</label>
                <input type="text" asp-for="Name" />
            </div>
        </div>
        <div class="form-group">
            <a asp-controller="Specifications" asp-action="Index" style="text-decoration: none">
                <input type="button" value="Назад" class="btn btn-outline-dark" />
            </a>
            <input type="submit" value="Сохранить" class="btn btn-success"/>
        </div>
    </form>
</div>