﻿@model WebApplication.Models.Specifications.SpecificationInfoModel
@{
    ViewData["Title"] = "Удаление спецификации";
}

<h4>@ViewData["Title"]</h4>

<div>
    <p>Будет удалена следующая спецификация</p>
    <table>
        <tr>
            <th>Номер</th>
            <td>@Model.Number</td>
        </tr>
        <tr>
            <th>Название:</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th>Создана</th>
            <td>@Model.RecordIdentity.CreatedString</td>
        </tr>
        <tr>
            <th>Изменена</th>
            <td>@Model.RecordIdentity.ChangedString</td>
        </tr>
    </table>
</div>

<form asp-controller="Specifications" asp-action="Delete">
    <div style="display: none">
        <input type="hidden" asp-for="Name"/>
        <input type="hidden" asp-for="Number"/>
        <input type="hidden" asp-for="RecordIdentity.IdCode"/>
        <input type="hidden" asp-for="RecordIdentity.CreatedAtDate"/>
        <input type="hidden" asp-for="RecordIdentity.CreatedBy"/>
        <input type="hidden" asp-for="RecordIdentity.ChangedAtDate"/>
        <input type="hidden" asp-for="RecordIdentity.ChangedBy"/>
    </div>

    <div class="text-center">
        <a asp-controller="Specifications" asp-action="Index" style="text-decoration: none">
            <input type="button" value="Сброс" class="btn btn-outline-dark margined-for-5px"/>
        </a>
        <input type="submit" value="Удалить" class="btn btn-danger margined-for-5px"/>
    </div>
</form>