﻿@model WebApplication.Models.Specifications.SpecificationEditModel
@{
    ViewData["Title"] = "Править спецификацию";
}

<h2>Правка спецификации</h2>

<div>
    <p>Будет изменена следующая спецификация:</p>
    <table>
        <tr>
            <th>Номер:</th>
            <td>@Model.OldNumber</td>
        </tr>
        <tr>
            <th>Название:</th>
            <td>@Model.OldName</td>
        </tr>
        <tr>
            <th>Создана:</th>
            <td>@Model.RecordIdentity.CreatedString</td>
        </tr>
        <tr>
            <th>Изменена:</th>
            <td>@Model.RecordIdentity.ChangedString</td>
        </tr>
    </table>
</div>

<div>
    <form asp-action="Edit" asp-controller="Specifications">
        <div style="display: none">
            <input type="hidden" asp-for="OldName"/>
            <input type="hidden" asp-for="OldNumber"/>
            <input type="hidden" asp-for="RecordIdentity.IdCode"/>
            <input type="hidden" asp-for="RecordIdentity.CreatedAtDate"/>
            <input type="hidden" asp-for="RecordIdentity.CreatedBy"/>
            <input type="hidden" asp-for="RecordIdentity.ChangedAtDate"/>
            <input type="hidden" asp-for="RecordIdentity.ChangedBy"/>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="form-group margined-for-5px">
                <label asp-for="NewNumber">Новый номер: </label>
                <input type="text" asp-for="NewNumber"/>
                <span asp-validation-for="NewNumber" class="text-danger"></span>
            </div>
            <div class="form-group margined-for-5px">
                <label asp-for="NewName">Новый номер: </label>
                <input type="text" asp-for="NewName"/>
                <span asp-validation-for="NewName" class="text-danger"></span>
            </div>
        </div>
        <div class="text-center">
            <a asp-controller="Specifications" asp-action="Index" style="text-decoration: none">
                <input type="button" class="btn btn-outline-dark margined-for-5px" value="Отмена"/>
            </a>
            <a asp-controller="Specifications" asp-action="Edit" style="text-decoration: none">
                <input type="submit" class="btn btn-warning margined-for-5px" value="Изменить"/>
            </a>
        </div>
    </form>
</div>
