﻿@model WebApplication.Models.Specifications.SpecificationViewFilterModel
@{
    ViewData["Title"] = "Добавление новой поставки";
}

<h2>@ViewData["Title"]</h2>

<div style="text-align: right; text-decoration: none">
    <a asp-controller="Specifications" asp-action="Add" class="text-dark" style="text-decoration: underline">
        <img src="images/icon-add.png" alt="[+]" class="img-mini-btn-icon" />
        Добавить спецификацию
    </a>
</div>

<div>
    <h4>Фильтры</h4>
    <form asp-action="Index" asp-controller="Specifications">
        <div class="row">
            <div class="form-group margined-for-5px">
                <label asp-for="NumberFilter">Номер:</label>
                <input type="text" asp-for="NumberFilter" />
                <span asp-validation-for="NumberFilter"></span>
            </div>

            <div class="form-group margined-for-5px">
                <label asp-for="NameFilter">Название:</label>
                <input type="text" asp-for="NameFilter" />
                <span asp-validation-for="NameFilter"></span>
            </div>
        </div>
        <div class="form-group text-center">
            <a asp-controller="Specifications" asp-action="Index" style="text-decoration: none">
                <input type="button" value="Сброс" class="btn btn-outline-dark margined-for-5px" />
            </a>
            <input type="submit" value="Поиск" class="btn btn-outline-dark margined-for-5px" />

            <p style="font-size: x-small; color: gray">
                При поиске в поле "Номер" допустимо использовать заменители: знак <b>*</b> или <b>%</b> - любое количество любых знаков;
                и знак <b>?</b> или <b>_</b> - ровно один любой знак. В поле "Название" поиск ведётся по принципу "содержит введённую строку".
            </p>
        </div>
    </form>
</div>

@if (Model.Specifications != null && Model.Specifications.Any())
{
    <div>
        <h4>Зарегистрированные</h4>
        @if (Model.Specifications.Any())
        {
            <table class="table-bordered hightlightrows" style="width: 100%">
                <tr>
                    <th style="width: 75px; text-align: center">Номер</th>
                    <th style="text-align: center">Название</th>
                    <th style="width: 150px; text-align: center">Правка</th>
                    <th style="text-align: center; min-width: 200px">Поставка</th>
                </tr>
                @foreach (var spec in Model.Specifications)
                {
                    <tr>
                        <td style="text-align: center">@spec.Number.ToString("D3")</td>
                        <td>
                            <a asp-controller="Specifications" asp-action="Info" asp-route-id="@spec.Number">
                                @spec.Name
                            </a>
                        </td>
                        <td style="text-align: center">
                            <a asp-controller="Specifications" asp-action="Info" asp-route-id="@spec.Number"
                               class="text-dark margined-for-5px" style="text-decoration: none" title="Подробнее">
                                <img src="images/icon-info.png" class="img-mini-btn-icon" alt="[?]" />
                            </a>
                            <a asp-controller="Specifications" asp-action="Edit" asp-route-id="@spec.Number"
                               class="text-dark margined-for-5px" style="text-decoration: none" title="Править">
                                <img src="images/icon-edit.png" class="img-mini-btn-icon" alt="[=]" />
                            </a>
                            @if (User.IsInRole("Администратор") || User.IsInRole("Создатель"))
                            {
                                <a asp-controller="Specifications" asp-action="Delete" asp-route-id="@spec.Number"
                                   class="text-dark margined-for-5px" style="text-decoration: none" title="Удалить">
                                    <img src="images/icon-delete.png" class="img-mini-btn-icon" alt="[X]" />
                                </a>
                            }
                        </td>
                        <td>
                            <a asp-controller="Reactives" asp-action="Add" asp-route-id="@spec.Number"
                               class="text-dark margined-for-5px" style="text-decoration: underline"
                               title="Новая поставка реактивов и расходных материалов для этой спецификации">
                                <img src="images/icon-add.png" class="img-mini-btn-icon" alt="[+]" />&nbsp;Новая&nbsp;поставка
                            </a>
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>Спецификаций по указанным фильтрам не обнаружено.</p>
        }
    </div>
}
