﻿@model WebApplication.Models.Specifications.SpecificationInfoModel
@{
    ViewData["Title"] = "Информация о спецификации";
}

<h2>@ViewData["Title"]</h2>

<table>
    <tr>
        <th>Номер</th>
        <td>@Model.Number</td>
    </tr>
    <tr>
        <th>Название</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Создана</th>
        <td>@Model.RecordIdentity.CreatedString</td>
    </tr>
    <tr>
        <th>Изменена</th>
        <td>@Model.RecordIdentity.ChangedString</td>
    </tr>
</table>

<div class="text-center">
    <a asp-controller="Specifications" asp-action="Index" style="text-decoration: none">
        <input type="button" class="btn btn-outline-dark margined-for-5px" value="Назад" />
    </a>
    <a asp-controller="Specifications" asp-action="Edit" asp-route-id="@Model.Number" style="text-decoration: none">
        <input type="button" class="btn btn-warning margined-for-5px" value="Изменить" />
    </a>
    @if (User.IsInRole("Администратор") || User.IsInRole("Создатель"))
    {
        <a asp-controller="Specifications" asp-action="Delete" asp-route-id="@Model.Number" style="text-decoration: none">
            <input type="button" class="btn btn-danger margined-for-5px" value="Удалить" />
        </a>
    }
</div>