﻿@model WebApplication.Models.Producers.ProducerInfoModel
@{
    ViewData["Title"] = "Добавление производителя";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Producers" asp-action="Add">
    <div asp-validation-summary="All" class="text-danger"></div>
    <table>
        <tr>
            <th><label asp-for="Name">Название</label></th>
            <td><input asp-for="Name"/></td>
        </tr>
        <tr>
            <th><label asp-for="Comment">Комментарий</label></th>
            <td><input asp-for="Comment"/></td>
        </tr>
    </table>
    <div>
        <a asp-controller="Producers" asp-action="Index" style="text-decoration: none">
            <input type="button" class="btn btn-outline-dark margined-for-5px" value="Отмена"/>
        </a>
        <input type="submit" class="btn btn-success margined-for-5px" value="Добавить"/>
    </div>
</form>