﻿@model WebApplication.Models.Producers.ProducerInfoModel
@{
    ViewData["Title"] = "Удаление производителя";
}

<h2>@ViewData["Title"]</h2>

<div>
    <p>Будет удалён следующий поставщик:</p>
    <table>
        <tr>
            <th>Название (№)</th>
            <td>@Model.Name (@Model.Id)</td>
        </tr>
        <tr>
            <th>Комментарий</th>
            <td>@Model.Comment</td>
        </tr>
        <tr>
            <th>Создан</th>
            <td>@Model.RecordIdentity.CreatedString</td>
        </tr>
        <tr>
            <th>Изменён</th>
            <td>@Model.RecordIdentity.ChangedString</td>
        </tr>
    </table>
</div>

<form asp-controller="Producers" asp-action="Delete">
    <div style="display: none">
        <input type="hidden" asp-for="Id"/>
        <input type="hidden" asp-for="Name" />
        <input type="hidden" asp-for="Comment" />
        <input type="hidden" asp-for="RecordIdentity.IdCode" />
        <input type="hidden" asp-for="RecordIdentity.CreatedAtDate" />
        <input type="hidden" asp-for="RecordIdentity.CreatedBy" />
        <input type="hidden" asp-for="RecordIdentity.ChangedAtDate" />
        <input type="hidden" asp-for="RecordIdentity.ChangedBy" />
    </div>

    <div class="text-center">
        <a asp-controller="Producers" asp-action="Index" style="text-decoration: none">
            <input type="button" value="Сброс" class="btn btn-outline-dark margined-for-5px" />
        </a>
        <input type="submit" value="Удалить" class="btn btn-danger margined-for-5px" />
    </div>
</form>