﻿@model WebApplication.Models.Producers.ProducerViewFilterModel
@{
    ViewData["Title"] = "Производители";
}

<h2>@ViewData["Title"]</h2>

<div style="text-align: right; text-decoration: none">
    <a asp-controller="Producers" asp-action="Add" class="text-dark" style="text-decoration: underline">
        <img src="images/icon-add.png" alt="[+]" class="img-mini-btn-icon"/>
        Добавить
    </a>
</div>

<div>
    <h4>Фильтры</h4>
    <form asp-controller="Producers" asp-action="Index">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FilterName">Название: </label>
            <input type="text" asp-for="FilterName" class="margined-for-5px" />
            <label asp-for="FilterName">Комментарий: </label>
            <input type="text" asp-for="FilterComment" class="margined-for-5px" />
        </div>
        <div class="text-center">
            <a asp-controller="Producers" asp-action="Index" style="text-decoration: none">
                <input type="button" class="btn btn-outline-dark margined-for-5px" value="Сброс" />
            </a>
            <input type="submit" class="btn btn-outline-dark margined-for-5px" value="Поиск" />
            <p style="font-size: x-small; color: gray">
                Все введённые значения фильтров будут искаться по принципу "содержит введённую строку".
            </p>
        </div>

    </form>
</div>

@if (Model.Producers == null || !Model.Producers.Any())
{
    <p>Производителей по введённым фильтрам не обнаружено</p>
}
else
{
    <table class="table-bordered hightlightrows">
        <tr>
            <th style="text-align: center; width: 30px">№</th>
            <th style="text-align: center">Название</th>
            <th style="text-align: center">Комментарий</th>
            <th style="text-align: center; width: 150px">Правка</th>
        </tr>
        
        @foreach (var item in Model.Producers)
        {
            <tr>
                <td style="text-align: center">@item.Id</td>
                <td>
                    <a asp-controller="Producers" asp-action="Info" asp-route-id="@item.Id">
                        @item.Name
                    </a>
                </td>
                <td>@item.Comment</td>
                <td style="text-align: center">
                    <a asp-controller="Producers" asp-action="Info" asp-route-id="@item.Id" 
                       class="text-dark margined-for-5px" style="text-decoration: none" title="Подробнее">
                        <img src="images/icon-info.png" class="img-mini-btn-icon" alt="[?]"/>
                    </a>
                    <a asp-controller="Producers" asp-action="Edit" asp-route-id="@item.Id" 
                       class="text-dark margined-for-5px" style="text-decoration: none" title="Править">
                        <img src="images/icon-edit.png" class="img-mini-btn-icon" alt="[=]"/>
                    </a>
                    @if (User.IsInRole("Администратор") || User.IsInRole("Создатель"))
                    {
                        <a asp-controller="Producers" asp-action="Delete" asp-route-id="@item.Id" 
                           class="text-dark margined-for-5px" style="text-decoration: none" title="Удалить">
                            <img src="images/icon-delete.png" class="img-mini-btn-icon" alt="[X]"/>
                        </a>
                    }
                </td>
            </tr>
        }
    </table>
}