﻿@model WebApplication.Models.Users.UserAddModel
@{
    ViewData["Title"] = "Добавление пользователя";
}

<h4>Добавление нового пользователя</h4>

<div>
    <form asp-controller="Users" asp-action="Add" aria-autocomplete="none">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="form-group margined-for-5px">
                <label asp-for="Name">Имя (Ф.И.О.): </label>
                <input autocomplete="off" type="text" asp-for="Name"/>
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="form-group margined-for-5px">
                <label asp-for="Groups">Группа</label>
                <select asp-items="@Model.Groups" asp-for="SelectedGroup">
                    <option value="-1"></option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group margined-for-5px">
                <label asp-for="Login">Логин: </label>
                <input autocomplete="off" type="text" asp-for="Login" />
                <span class="text-danger" asp-validation-for="Login"></span>
            </div>
            <div class="form-group margined-for-5px">
                <label asp-for="Password">Пароль: </label>
                <input autocomplete="off" type="password" asp-for="Password" />
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
        </div>
        <div class="text-center">
            <a asp-controller="Users" asp-action="Index" style="text-decoration: none">
                <input type="button" class="btn btn-outline-dark margined-for-5px" value="Отмена"/>
            </a>
            <input type="submit" class="btn btn-success margined-for-5px" value="Добавить"/>
        </div>
    </form>
</div>