﻿@model WebApplication.Models.Users.ChangeMyPasswordModel
@{
    ViewData["Title"] = "Изменение пароля";
}

<h4>Смена пароля</h4>

<div>
    <form asp-controller="Users" asp-action="ChangeMyPassword">
        <div asp-validation-summary="All" class="text-danger"></div>
        <table>
            <tr>
                <td><label asp-for="CurrentPassword">Текущий пароль: </label></td>
                <td><input type="password" asp-for="CurrentPassword" /></td>
            </tr>
            <tr>
                <td><label asp-for="NewPassword">Новый пароль:</label></td>
                <td><input type="password" asp-for="NewPassword" /></td>
            </tr>
            <tr>
                <td><label asp-for="RepeatNewPassword">Повторите новый пароль:</label></td>
                <td><input type="password" asp-for="RepeatNewPassword" /></td>
            </tr>
        </table>
        
        <div class="text-center">
            <a asp-controller="Users" asp-action="Index" style="text-decoration: none">
                <input type="button" class="btn btn-outline-dark margined-for-5px" value="Отмена"/>
            </a>
            <input type="submit" class="btn btn-success margined-for-5px" value="Изменить"/>
        </div>
    </form>
</div>