﻿@model WebApplication.Models.Users.UserChangeResultModel
@{
    ViewData["Title"] = Model.Title;
}

<h2>@Model.Header</h2>

<div>
    @Model.Description
</div>

<div style="text-align: center">
    <a asp-controller="Users" asp-action="Index" style="text-decoration: none">
        <input type="button" class="btn btn-outline-dark" value="Принято" />
    </a>
</div>