﻿@model WebApplication.Models.Users.UserDeleteModel
@{
    ViewData["Title"] = "Удаление пользователя";
} 

<h2>Удаление пользователя</h2>

<div>
    Будет удалён пользователь <b>№ @Model.UserId @Model.UserName (@Model.UserGroup)</b>.
    <br/>
    <span class="text-warning">
        Обратите внимание: с данными этого пользователя могут быть связаны другие данные,
        которые каскадно будут удалены вместе с этим пользователем. Вместо удаления
        рекомендуется использовать 
        <a asp-controller="Users" asp-action="Edit" asp-route-id="@Model.UserId">
             перенос пользователя в группу "Заблокированные"
        </a>
    </span>
</div>

<form asp-controller="Users" asp-action="Delete">
    <input type="hidden" asp-for="UserId"/>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="RootPassword">Пароль корневого пользователя:</label>
        <input type="password" asp-for="RootPassword"/>
    </div>
    <div class="text-center">
        <a asp-controller="Users" asp-action="Index" style="text-decoration: none">
            <input type="button" class="btn btn-outline-dark margined-for-5px" value="Отмена"/>
        </a>
        <input type="submit" class="btn btn-danger margined-for-5px" value="Удалить"/>
    </div>
</form>