﻿@model WebApplication.Models.Users.UserEditModel
@{
    ViewData["Title"] = "Изменение пользователя";
}

<h4>Изменение данных о пользователе № @Model.Id - @Model.OldName</h4>

<form asp-controller="Users" asp-action="Edit" aria-autocomplete="none">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div style="display: none">
        <input type="hidden" asp-for="Id"/>
        <input type="hidden" asp-for="OldGroupNumber"/>
        <input type="hidden" asp-for="OldGroup"/>
        <input type="hidden" asp-for="OldName"/>
        <input type="hidden" asp-for="OldLogin"/>
    </div>
    <div class="row">
        <div class="form-group margined-for-5px">
            <label asp-for="NewLogin">Новый логин:</label>
            <input asp-for="NewLogin" type="text"/> (@Model.OldLogin)
            <span asp-validation-for="NewName" class="text-danger"></span>
        </div>
        <div class="form-group margined-for-5px">
            <label asp-for="NewPassword">Новый пароль:</label>
            <input asp-for="NewPassword" type="text"/>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group margined-for-5px">
            <label asp-for="NewName">Новое имя:</label>
            <input asp-for="NewName" type="text"/> (@Model.OldName)
            <span asp-validation-for="NewName" class="text-danger"></span>
        </div>
        <div class="form-group margined-for-5px">
            <label asp-for="NewGroupNumber">Новая группа:</label>
            <select asp-for="NewGroupNumber">
                @foreach (var item in Model.Groups)
                {
                    @if (item.Selected)
                    {
                        <option value="@item.Value" selected="selected">@item.Text</option>
                    }
                    else
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                }
            </select>
            (@Model.OldGroup)
        </div>
    </div>
    <div class="text-center">
        <a asp-controller="Users" asp-action="Index" style="text-decoration: none">
            <input type="button" class="btn btn-outline-dark margined-for-5px" value="Отмена"/>
        </a>
        <input type="submit" class="btn btn-success margined-for-5px" value="Изменить"/>
        @if (User.IsInRole("Создатель"))
        {
            <a asp-controller="Users" asp-action="Delete" asp-route-id="@Model.Id" style="text-decoration: none">
                <input type="button" class="btn btn-danger margined-for-5px" value="Удалить"/>
            </a>
        }
    </div>
</form>