﻿@model IEnumerable<WebApplication.Models.Users.UserInfoModel>
@{
    ViewData["Title"] = "Пользователи";
}

<div style="text-align: right; text-decoration: none">
    <a asp-controller="Users" asp-action="Add" class="text-dark" style="text-decoration: underline">
        <img src="images/icon-add.png" alt="[+]" class="img-mini-btn-icon" />
        Добавить
    </a>
</div>

<h2>Пользователи веб-приложения</h2>

@if (Model.Any())
{
    <table class="table-bordered hightlightrows" style="width: 100%">
        <tr>
            <th style="width: 30px; text-align: center">№</th>
            <th style="text-align: center">Логин</th>
            <th style="text-align: center">Имя</th>
            <th style="text-align: center">Группа</th>
            <th style="width: 100px; text-align: center">Управление</th>
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td style="text-align: center">@user.Id</td>
                <td>@user.Login</td>
                <td>@user.Name</td>
                <td>@user.Group</td>
                <td style="text-align: center">
                    @if (user.Id == 1)
                    {
                        @if (User.IsInRole("Создатель"))
                        {
                            <a asp-controller="Users" asp-action="ChangeMyPassword" asp-route-id="1"
                               title="Изменение пароля для корневого пользователя"
                               style="font-size: small">
                                [Пароль]
                            </a>
                        }
                        else
                        {
                            <span style="color: gray; font-size: small">-не доступно-</span>
                        }
                    }
                    else
                    {
                        <a asp-controller="Users" asp-action="Edit" asp-route-id="@user.Id" style="text-decoration: none" title="Правка">
                            <img src="images/icon-edit.png" class="img-mini-btn-icon" alt="[?]" />
                        </a>
                    }
                </td>
            </tr>
        }
    </table>
}
else
{
    <div>
        <b>Данные для отображения отсутствуют.</b>
    </div>
}
