﻿@model WebApplication.Models.Users.UserInfoModel
@{
    ViewData["Title"] = "Мой профиль";
}

<h4>Профиль пользователя</h4>

<table>
    <tr>
        <th style="width: 125px">Логин (№):</th>
        <td>@Model.Login (@Model.Id)</td>
    </tr>
    <tr>
        <th>Имя:</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Группа:</th>
        <td>@Model.Group</td>
    </tr>
</table>

<div class="text-center">
    <a asp-controller="Home" asp-action="Index" style="text-decoration: none">
        <input type="button" class="btn btn-outline-dark margined-for-5px" value="Назад" />
    </a>
    <a asp-controller="Users" asp-action="ChangeMyPassword" style="text-decoration: none">
        <input type="button" class="btn btn-warning margined-for-5px" value="Сменить пароль" />
    </a>
</div>

<hr/>

<div style="color: gray; font-size: small">
    Для изменения регистрационных данных (имени, логина, группы) обратитесь к администратору сервиса (своему руководителю).
</div>