﻿@model WebApplication.Models.ReactiveAttributes.AttributeAddModel
@{
    ViewData["Title"] = "Добавление атрибута";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="ReactivesAttributes" asp-action="Add">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Existing"/>
    <table>
        <tr>
            <th>Код</th>
            <td>
                <input type="text" style="width: 27px" maxlength="1" asp-for="ToAdd.Code" />
                @if(Model?.Existing != null && Model.Existing.Any())
                {
                    <text>&nbsp; Существующие атрибуты:</text>
                    @foreach (var c in Model.Existing)
                    {
                        <text > [</text>@c<text>]</text>
                    }
                }
                <div style="color: gray; font-size: small">
                    В качестве кодов допустимы буквы латиницы и цифры. Заглавные и строчные буквы воспринимаются как разные коды.
                    Повторные коды не допустимы.
                </div>
            </td>
        </tr>
        <tr>
            <th>Описание</th>
            <td><input type="text" asp-for="ToAdd.Name"/></td>
        </tr>
    </table>
    <div class="text-center">
        <a asp-controller="ReactivesAttributes" asp-action="Index" style="text-decoration: none">
            <input type="button" class="btn btn-outline-dark margined-for-5px" value="Отмена"/>
        </a>
        <input type="submit" class="btn btn-success margined-for-5px" value="Добавить"/>
    </div>
</form>