﻿@model WebApplication.Models.ReactiveAttributes.AttributeModel
@{
    ViewData["Title"] = "Удаление атрибута";
}

<h2>@ViewData["Title"]</h2>

<div class="text-danger">
    Внимание! Удаление атрибута - необратимая операция. Она приведёт к тому, что атрибут последовательно будет удалён во всех 
    поставках реактивов, где он был указан. Эта операция может выполняться очень долго. Пользуйтесь этой функцией с особой осторожностью.
</div>

<form asp-controller="ReactivesAttributes" asp-action="Delete">
    <div style="display: none">
        <input type="hidden" asp-for="Code"/>
        <input type="hidden" asp-for="Name"/>
    </div>
    Будет удалён следующие атрибут:
    <table>
        <tr>
            <th>Код</th>
            <td>@Model.Code</td>
        </tr>
        <tr>
            <th>Описание</th>
            <td>@Model.Name</td>
        </tr>
    </table>
    <div class="text-center">
        <a asp-controller="ReactivesAttributes" asp-action="Index" style="text-decoration: none">
            <input type="button" class="btn btn-outline-dark margined-for-5px" value="Отмена"/>
        </a>
        <input type="submit" class="btn btn-danger margined-for-5px" value="Удалить"/>
    </div>
</form>