﻿@model WebApplication.Models.ReactiveAttributes.AttributeEditModel
@{
    ViewData["Title"] = "Правка атрибута";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="ReactivesAttributes" asp-action="Edit">
    <div asp-validation-summary="All"></div>
    <div style="display: none">
        <input type="hidden" asp-for="EditFor.Name" />
        <input type="hidden" asp-for="EditFor.Code" />
    </div>
    <div>
        Будет изменён следующий атрибут:
        <table>
            <tr>
                <th>Код</th>
                <td>@Model.EditFor.Code</td>
            </tr>
            <tr>
                <th>Описание</th>
                <td>@Model.EditFor.Name</td>
            </tr>
        </table>
    </div>
    <div class="form-group">
        <b>Новое описание</b>
        <input type="text" asp-for="NewName" />
    </div>
    <div class="text-center">
        <a asp-controller="ReactivesAttributes" asp-action="Index" style="text-decoration: none">
            <input type="button" class="btn btn-outline-dark margined-for-5px" value="Отмена" />
        </a>
        <input type="submit" class="btn btn-warning margined-for-5px" value="Изменить" />
    </div>
</form>