﻿@model IEnumerable<WebApplication.Models.ReactiveAttributes.AttributeModel>
@{
    ViewData["Title"] = "Атрибуты для поставок реактивов";
}


<h2>@ViewData["Title"]</h2>

<div style="text-align: right; text-decoration: none">
    <a asp-controller="ReactivesAttributes" asp-action="Add" class="text-dark" style="text-decoration: underline">
        <img src="images/icon-add.png" alt="[+]" class="img-mini-btn-icon" />
        Добавить
    </a>
</div>

@if (Model != null && Model.Any())
{
    <table>
        <tr>
            <th style="text-align: center">Код</th>
            <th style="text-align: center">Описание</th>
            <th style="text-align: center; width: 100px">Управление</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align: center">@item.Code</td>
                <td>@item.Name</td>
                <td>
                    @if (User.IsInRole("Администратор") || User.IsInRole("Создатель"))
                    {
                        <a asp-controller="ReactivesAttributes" asp-action="Edit" asp-route-code="@item.Code"
                           class="text-dark margined-for-5px" style="text-decoration: none" title="Править">
                            <img src="images/icon-edit.png" class="img-mini-btn-icon" alt="[=]" />
                        </a>
                        <a asp-controller="ReactivesAttributes" asp-action="Delete" asp-route-code="@item.Code"
                           class="text-dark margined-for-5px" style="text-decoration: none" title="Удалить">
                            <img src="images/icon-delete.png" class="img-mini-btn-icon" alt="[X]" />
                        </a>
                    }
                    else
                    {
                        <span style="color: gray; font-size: small">-недоступно-</span>
                    }
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>Атрибуты не обнаружены в базе данных</p>
}