﻿<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Лабконтроль - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo.png" alt="ЛабКонтроль" style="height: 40px"/>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (User.Identity.Name != null)
                {
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            @if (User.IsInRole("Администратор") || User.IsInRole("Создатель"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Home" asp-action="AdminPanel">Администрирование</a>
                                </li>
                            }

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="ReactivesPanel">Реактивы</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="StatisticsPanel">Статистика</a>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </nav>
        <div style="text-align: right; background: #efefef">
            @if (User.Identity.Name != null)
            {
                @(User.Identity.Name + " (" + User.Claims.FirstOrDefault(x => x.Type.EndsWith("/role"))?.Value + ") ")
                <a style="font-size: small; text-decoration: none" asp-controller="Users" asp-action="MyProfile" title="Мой профиль" >
                    <img src="~/images/icon-profile.png" style="height: 20px; margin: 0 0 0 10px" alt="[Профиль]"/>
                </a> 
                <a style="font-size: small; text-decoration: none" asp-controller="Login" asp-action="Logout" title="Выйти">
                    <img src="~/images/icon-exit.png" style="height: 20px; margin: 0 15px 0 10px" alt="[Выход]" />
                </a>
            }
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Черкасов Д.С. (<a href="https://dmicher.ru" target="_blank" title="Сайт разработчика">dmicher abathur kubrow</a>)
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
