﻿@model WebApplication.Models.Home.ErrorViewModel
@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">Во время выполнения запроса произошла ошибка.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID запроса:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим разработчика</h3>
<p>
    Переключение окружения на режим "<strong>Разработка</strong>" позволит отобразить больше информации.
</p>
<p>
    <strong>Режим "<strong>Разработка</strong>" не следует включать в боевые сборки приложения.</strong>
    Это может привести к тому, что конечным пользователям будет показана конфиденциальная информация.
    Чтобы включить режим "<strong>Разработка</strong>" для внутренней отладки приложения включите
    окружение <strong>Development</strong> в настройках <strong>ASPNETCORE_ENVIRONMENT</strong>
    и перезапустите приложение.
</p>
