﻿@model WebApplication.Models.Login.LoginModel
@{
    ViewData["Title"] = "Вход в систему";
}

<h2 style="text-align: center">Вход на сайт</h2>

<form asp-action="Index" asp-controller="Login" asp-antiforgery="true" style="text-align: center">
    <div class="field-validation-error" asp-validation-summary="ModelOnly"></div>
    <div>
        <table style="width: 175px; border: 0; margin: auto;">
            <tr>
                <td style="width: 0"><label asp-for="Name">Имя:</label></td>
                <td><input type="text" asp-for="Name" /></td>
            </tr>
            <tr>
                <td><label asp-for="Password">Пароль: </label></td>
                <td><input type="password" asp-for="Password" /></td>
            </tr>
        </table>
        <span asp-validation-for="Name" class="text-danger"></span>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group" style="margin: 15px 0 0 0">
        <input type="submit" value="Войти" class="btn btn-outline-dark" />
    </div>
</form>