﻿@model WebApplication.Models.MesUnits.MesUnitModel
@{
    ViewData["Title"] = "Добавление единицы измерения";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="MesUnits" asp-action="Add">
    <div asp-validation-summary="All" class="text-danger"></div>
    <table>
        <tr>
            <th>Название</th>
            <td><input type="text" asp-for="Name"/></td>
        </tr>
        <tr>
            <th>Сокращение</th>
            <td><input type="text" asp-for="Short" /></td>
        </tr>
        <tr>
            <th>Позиция в списке</th>
            <td><input type="text" asp-for="Position" /></td>
        </tr>
    </table>
    <div class="text-center">
        <a asp-controller="MesUnits" asp-action="Index" style="text-decoration: none">
            <input type="button" class="btn btn-outline-dark margined-for-5px" value="Отмена"/>
        </a>
        <input type="submit" class="btn btn-success margined-for-5px" value="Добавить"/>
    </div>
</form>