﻿@model WebApplication.Models.MesUnits.MesUnitModel
@{
    ViewData["Title"] = "Удаление единицы измерения";
}

<h2>@ViewData["Title"]</h2>

@if (Model?.CanDelete ?? false)
{
    <div>
        <p>Будет удалена следующая единица измерения</p>
        <table>
            <tr>
                <th>Название</th>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <th>Сокращение</th>
                <td>@Model.Short</td>
            </tr>
            <tr>
                <th>Позиция в списке</th>
                <td>@Model.Position</td>
            </tr>
        </table>
    </div>

    <form asp-controller="MesUnits" asp-action="Delete">
        <div style="display: none">
            <input type="hidden" asp-for="Name"/>
            <input type="hidden" asp-for="Short"/>
            <input type="hidden" asp-for="Position"/>
        </div>
        <div class="text-center">
            <a asp-controller="MesUnits" asp-action="Index" style="text-decoration: none">
                <input type="button" class="btn btn-outline-dark margined-for-5px"value="Отмена"/>
            </a>
            <input type="submit" class="btn btn-danger margined-for-5px" value="Удалить"/>
        </div>
    </form>

}
else
{
    <p class="table-danger">
        Выбранная единица измерения не может быть удалена, поскольку уже использована @Model?.UseCount раз.
    </p>
    <div class="text-center">
        <a asp-controller="MesUnits" asp-action="Index" style="text-decoration: none">
            <input type="button" class="btn btn-outline-dark"value="Назад" />
        </a>
    </div>
}