﻿@model WebApplication.Models.MesUnits.MesUnitEditModel
@{
    ViewData["Title"] = "Изменение единицы измерения";
}

<h2>@ViewData["Title"]</h2>

<div>
    <p>Будет изменена следующая единица измерения</p>
    <table>
        <tr>
            <th>Название</th>
            <td>@Model.OldName</td>
        </tr>
        <tr>
            <th>Сокращение</th>
            <td>@Model.OldShort</td>
        </tr>
        <tr>
            <th>Позиция в списке</th>
            <td>@Model.OldPosition</td>
        </tr>
    </table>
</div>

<form asp-controller="MesUnits" asp-action="Edit">
    <div asp-validation-summary="All" class="table-danger"></div>
    <div style="display: none">
        <input type="hidden" asp-for="OldName" />
        <input type="hidden" asp-for="OldShort" />
        <input type="hidden" asp-for="OldPosition" />
    </div>
    <table>
        <tr>
            <th>Новое имя</th>
            <td><input type="text" asp-for="NewName" /></td>
        </tr>
        <tr>
            <th>Новое сокращение</th>
            <td><input type="text" asp-for="NewShort" /></td>
        </tr>
        <tr>
            <th>Новая позиция в списке</th>
            <td><input type="text" asp-for="NewPosition" /></td>
        </tr>
    </table>
    <div class="text-center">
        <a asp-controller="MesUnits" asp-action="Index" style="text-decoration: none">
            <input type="button" class="btn btn-outline-dark margined-for-5px" value="Отмена" />
        </a>
        <input type="submit" class="btn btn-warning margined-for-5px" value="Изменить" />
    </div>
</form>