﻿@using System.Linq
@model IEnumerable<WebApplication.Models.MesUnits.MesUnitModel>
@{
    ViewData["Title"] = "Единицы измерения";
}

<div style="text-align: right; text-decoration: none">
    <a asp-controller="MesUnits" asp-action="Add" class="text-dark" style="text-decoration: underline">
        <img src="images/icon-add.png" alt="[+]" class="img-mini-btn-icon" />
        Добавить
    </a>
</div>

<h2>@ViewData["Title"]</h2>

@if (Model == null || !Model.Any())
{
    <p>Единицы измерения не найдены</p>
}
else
{
    <table class="table-bordered hightlightrows">
        <tr>
            <th style="text-align: center">Название</th>
            <th style="text-align: center">Сокращение</th>
            <th style="text-align: center">Позиция</th>
            <th style="text-align: center; width: 100px">Правка</th>
            <th style="text-align: center">В работе</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td style="text-align: center">@item.Short</td>
                <td style="text-align: center">@item.Position</td>
                <td style="text-align: center">
                    <a asp-controller="MesUnits" asp-action="Edit" asp-route-name="@item.Name" title="Править"
                       style="text-decoration: none">
                        <img src="images/icon-edit.png" alt="[=]" class="img-mini-btn-icon" />
                    </a>

                    @if (item.CanDelete)
                    {
                        <a asp-controller="MesUnits" asp-action="Delete" asp-route-name="@item.Name" title="Удалить"
                           style="text-decoration: none">
                            <img src="images/icon-delete.png" alt="[X]" class="img-mini-btn-icon" />
                        </a>
                    }
                </td>
                <td style="font-size: small; color: gray">
                    @if (item.CanDelete)
                    {<div style="text-align: center">-</div>}
                    else
                    {<span>Использована @item.UseCount раз(а)</span>}
                </td>
            </tr>
        }
    </table>
}