﻿@model WebApplication.Models.ReactivesValidUntil.ReactivesValidUntilIndexFilterModel
@{
    ViewData["Title"] = "Контроль срока годности";
}

<h2>@ViewData["Title"]</h2>

<h4>
    <input type="checkbox" id="filter_chb" onclick="ShowHide('filter_chb', 'filter_div')" />
    <label for="filter_chb">Поиск</label>
</h4>

<div id="filter_div" style="display: none">
    <form asp-controller="ReactivesValidUntil" asp-action="Index">
        <table>
            <tr>
                <th>Статусы списания</th>
                <td>
                    @foreach (var state in Model.States)
                    {
                        <input type="radio" asp-for="StatesFilter" value="@state.Value" id="fwo_@state.Value" checked="@state.Selected" />
                        <label for="fwo_@state.Value">@state.Text</label>
                    }
                </td>
            </tr>
            <tr>
                <th>Дней вперёд</th>
                <td>
                    <input type="text" maxlength="3" asp-for="DaysForward"/>
                </td>
            </tr>
        </table>
        <div style="text-align: center">
            <a asp-controller="ReactivesValidUntil" asp-action="Index" style="text-decoration: none">
                <input type="button" class="btn btn-outline-dark margined-for-5px" value="Сброс" />
            </a>
            <input type="submit" class="btn btn-outline-dark margined-for-5px" value="Поиск" />
        </div>
    </form>
</div>

@if (Model.Rows == null || !Model.Rows.Any())
{
    <div>Не списанные реактивы с истекшим сроком годности, либо срок годности которых истекает в выбранный период времени, не найдены в базе данных.</div>
}
else
{
    <h4>Сроки годности реактивов</h4>

    <div style="color: gray; font-size: small">
        Отражены реактивы, срок годности которых прошёл, а также реактивы, срок годности которых стекает 
        в ближайшие @Model.DaysForward дней.
    </div>

    <table>
        <tr>
            <th style="text-align: center">Годен до</th>
            <th style="text-align: center">Остатки</th>
            <th style="text-align: center">Поставка</th>
            <th style="text-align: center">Спецификация</th>
        </tr>
        @foreach (var row in Model.Rows)
        {
            <tr>
                <td>
                    @if (row.ValidUntil == null || row.ValidUntil <= DateTime.Today)
                    {
                        <span style="color: darkred"><b>@row.ValidUntil?.ToString("dd.MM.yyyy")</b></span>
                    }
                    else if (row.ValidUntil < DateTime.Today.AddMonths(1))
                    {
                        <span>@row.ValidUntil?.ToString("dd.MM.yyyy")</span>
                    }
                    else
                    {
                        <span style="color: gray">@row.ValidUntil?.ToString("dd.MM.yyyy")</span>
                    }
                </td>
                <td>@row.Count @row.MesUnits</td>
                <td>
                    <a asp-controller="Reactives" asp-action="Info" asp-route-lkksn="@row.Lkksn">
                        @row.Lkksn
                    </a>
                </td>
                <td>
                    <a asp-controller="Specifications" asp-action="Info" asp-route-id="@row.SpecificationId">
                        @row.SpecificationId - @row.SpecificationName
                    </a>
                </td>
            </tr>
        }
    </table>
}