﻿@model WebApplication.Models.Reactives.ReactivesAddModel
@{
    ViewData["Title"] = "Новая поставка";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Reactives" asp-action="Add">
    <div style="display: none">
        <input type="hidden" asp-for="Lkksn_SpecificationId"/>
        <input type="hidden" asp-for="SpecificationName"/>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>
        Введите данные новой поставки.

        <span style="font-size: small">
            <input type="checkbox" id="hints_show" onclick="ShowHideByClass('hints_show','hidden-hint')" />
            <label for="hints_show">Подсказки</label>
        </span>

        <div class="hidden-hint" >
            Красной звёздочкой <span style="color:darkred"><b>*</b></span> помечены обязательные для заполнения поля.
        </div>
    </div>
    <table>
        <tr>
            <th style="min-width: 170px">
                <span style="color:darkred">*</span>
                Спецификация
            </th>
            <td>
                @Model.Lkksn_SpecificationId.ToString("D3") - @Model.SpecificationName
                <a asp-controller="Specifications" asp-action="Index">[сменить]</a>
                <div class="hidden-hint">Выбранная Вами на предыдущем этапе спецификация.</div>
            </td>
        </tr>
        <tr>
            <th>
                <span style="color:darkred">*</span>
                Поставка №
            </th>
            <td>
                <input type="text" maxlength="2" style="width: 30px" asp-for="Lkksn_DeliveryNum" />
                <div class="hidden-hint">
                    Предлагаемый "по умолчанию" номер поставки - это номер поставки, следующий за самым большим номером поставки из учтённых
                    за текущий год для выбранной спецификации. Как правило - это именно то, что нужно. Но, если это нужно, номер можно поставить
                    иной с таким расчётом, что получающийся номер серии ЛКК должен оказаться уникальным.
                </div>
            </td>
        </tr>
        <tr>
            <th>
                <span style="color:darkred">*</span>
                Дата поставки
            </th>
            <td>
                <input type="date" asp-for="Lkksn_Date" />
                <div class="hidden-hint">
                    Введённые выше данные (выбранная спецификация, номер и дата поставки) будут сложены в
                    серийный номер ЛКК по формату: @Model.LkksnString
                </div>
            </td>
        </tr>
        @if (Model.MesUnits != null && Model.MesUnits.Any())
        {
            <tr>
                <th style="vertical-align: top">
                    <span style="color:darkred">*</span>
                    Объём поставки
                </th>
                <td>
                    <table>
                        <tr>
                            <td><span style="color: darkred">*</span> учётные единицы:</td>
                            <td>
                                <input type="text" asp-for="CurrentState_Count" style="width: 100px" />
                                <select asp-for="CurrentState_MesUnits" asp-items="@Model.MesUnits">
                                    <option value=""></option>
                                </select>
                            </td>
                            <td rowspan="2"><a asp-controller="MesUnits" asp-action="Add">[добавить]</a></td>
                        </tr>
                        <tr>
                            <td>исходные единицы:</td>
                            <td>
                                <input type="text" asp-for="ProducerReactiveInitCount" style="width: 100px" />
                                <select asp-for="ProducerReactiveInitMesUnit" asp-items="@Model.MesUnits">
                                    <option value=""></option>
                                </select>
                            </td>
                        </tr>
                    </table>

                    <div class="hidden-hint">
                        <p>
                            Для ввода данных достаточно указать "учётные единицы". Под этим названием появляется объём поставки,
                            посчитанный в таких единицах измерения, которые удобны для дальнейшего учёта прихода и расходования
                            реактивов и материалов.
                        </p>
                        <p>
                            Также вы можете указать объём поставки в "исходных единицах". Под этим названием понимается объём поставки,
                            посчитанный в единицах измерения, принятых у поставщика (производителя), или любых других. Эта информация будет
                            выводиться в качестве дополнительной информации при просмотре поставок, но никак не будет участвовать в
                            учёте реактивов и сырья в дальнейшем.
                        </p>
                    </div>
                </td>
            </tr>
        }
        else
        {
            <tr>
                <th>
                    <span style="color:darkred">*</span>
                    Объём поставки
                </th>
                <td>
                    <span class="text-danger">Единицы измерения не обнаружены в базе данных.</span>
                    Чтобы продолжит вам <u>необходимо</u> их <a asp-controller="MesUnits" asp-action="Add">[добавить]</a>
                </td>
            </tr>
        }
        <tr>
            <th>
                <span style="color:darkred">*</span>
                Срок годности
            </th>
            <td>
                <input type="date" asp-for="ValidUntilDate" id="valid_date"
                       onclick="EnableDisable('valid_checkbox', 'valid_date', false)" />
                <input type="checkbox" id="valid_checkbox" asp-for="UnlimitedLifeTime" 
                       onclick="EnableDisable('valid_checkbox', 'valid_date', false)" />
                <label for="valid_checkbox">Срок годности не ограничен</label>
            </td>
        </tr>
        <tr>
            <th>Поставщик</th>
            <td>
                @if (Model.Providers != null && Model.Providers.Any())
                {
                    <select asp-for="SelectedProvider" asp-items="@Model.Providers">
                        <option value="0"></option>
                    </select>
                    <a asp-controller="Providers" asp-action="Add">[добавить]</a>
                }
                else
                {
                    <span>Поставщики не обнаружены в базе данных. </span>
                    <a asp-controller="Providers" asp-action="Add">[добавить]</a>
                }
            </td>
        </tr>
        <tr>
            <th>Производитель</th>
            <td>
                @if (Model.Producers != null && Model.Producers.Any())
                {
                    <select asp-for="SelectedProducer" asp-items="@Model.Producers">
                        <option value="0"></option>
                    </select>
                    <a asp-controller="Producers" asp-action="Add">[добавить]</a>
                }
                else
                {
                    <span>Производитель не обнаружены в базе данных. </span>
                    <a asp-controller="Producers" asp-action="Add">[добавить]</a>
                }
            </td>
        </tr>
        <tr>
            <th>Реактив</th>
            <td>
                название: <input type="text" asp-for="ProducerReactiveName" />
                серийный номер: <input type="text" asp-for="ProducerReactiveSn" />
                <div class="hidden-hint">
                    Название и серийный номер реактива выше вводятся по данным поставщика (производителя).
                </div>
            </td>
        </tr>
        <tr>
            <th>Место хранения</th>
            <td>
                @if (Model.Stores != null && Model.Stores.Any())
                {
                    <select asp-for="CurrentState_StoredAtSelected" asp-items="@Model.Stores">
                        <option value=""></option>
                    </select>
                }
                <input type="text" asp-for="CurrentState_StoredAtInserted" />

                <div class="hidden-hint">
                    В качестве места хранения можно ввести любой текст или выбрать из выпадающего списка
                    (он может быть скрыт, если места хранения ранее не вводились). Если в текстовое поле
                    введено что-либо, то выбор из выпадающего списка игнорируется.
                </div>
            </td>
        </tr>
        <tr>
            <th>Комментарии</th>
            <td><input type="text" asp-for="CurrentState_Comment" style="width: 100%" /></td>
        </tr>
        <tr>
            <th style="vertical-align: top">Атрибуты</th>
            <td>
                @if (Model.Attributes != null && Model.Attributes.Any())
                {
                    @foreach (var pair in Model.AttributesNames)
                    {
                        @Html.CheckBoxFor(m => m.Attributes[pair.Key], pair.Value)
                        <label for="Attributes_@(pair.Key)_">
                            @if (Model.AttributesNames.ContainsKey(pair.Key))
                            {
                                <text>@Model.AttributesNames[pair.Key]</text>
                            }
                            else
                            {
                                <text>Атрибут @pair.Value</text>
                            }
                        </label>
                    }
                }
                else
                {
                    <text>Атрибуты в базе данных не зареистрированы</text>
                }
                <a asp-controller="ReactivesAttributes" asp-action="Add">
                    [добавить]
                </a>
            </td>
        </tr>
    </table>
    <div class="text-center">
        <a asp-controller="Specifications" asp-action="Index" style="text-decoration: none">
            <input type="button" class="btn btn-outline-dark margined-for-5px" value="Отмена"/>
        </a>
        <a asp-controller="Reactives" asp-action="Add" style="text-decoration: none">
            <input type="button" class="btn btn-outline-dark margined-for-5px" value="Сброс"/>
        </a>
        <input type="submit" class="btn btn-success margined-for-5px" value="Сохранить"/>
    </div>
</form>