﻿@model WebApplication.Models.Reactives.ReactivesChangeModel
@{
    ViewData["Title"] = "Правка данных о поставке реагента";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Reactives" asp-action="Change">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div style="display: none">
        <input type="hidden" asp-for="Lkksn" />
        <input type="hidden" asp-for="Provider_Old" />
        <input type="hidden" asp-for="ProviderId_Old" />
        <input type="hidden" asp-for="Producer_Old" />
        <input type="hidden" asp-for="ProducerId_Old" />
        <input type="hidden" asp-for="ReactiveName_Old" />
        <input type="hidden" asp-for="ReactiveSn_Old" />
        <input type="hidden" asp-for="StartCountString" />
        <input type="hidden" asp-for="ProducerCountString" />
        <input type="hidden" asp-for="CurrentCountString" />
        <input type="hidden" asp-for="ValidUntil_Old" />
        <input type="hidden" asp-for="UnlimitedLifeTime_Old" />
        <input type="hidden" asp-for="StoredAt_Old" />
        <input type="hidden" asp-for="Comment_Old" />
        <input type="hidden" asp-for="AttributesString_Old" />
    </div>
    <table class="table-bordered hightlightrows">
        <tr>
            <th style="text-align: center">Поле</th>
            <th style="text-align: center">Текущее значение</th>
            <th style="text-align: center">Заменить на</th>
            <th style="text-align: center; min-width: 150px">Прочее</th>
        </tr>
        <tr>
            <th>Спецификация №</th>
            <td>@Model.Lkksn</td>
            <td colspan="2">
                @if (User.IsInRole("Администратор") || User.IsInRole("Создатель"))
                {
                    <a asp-controller="Reactives" asp-action="EditReactiveSpecification" asp-route-lkksn="@Model.Lkksn"
                       style="text-decoration: underline" class="text-dark" title="Изменить серию ЛКК для поставки">
                        <img src="~/images/icon-edit.png" class="img-mini-btn-icon" alt="[=] "/>Правка
                    </a>
                }
                else
                {
                    <span style="color: gray">-изменение доступно администратору-</span>
                }
            </td>
        </tr>
        <tr>
            <th>Поставщик</th>
            <td>@Model.Provider_Old</td>
            <td>
                <select asp-items="@Model.Providers" asp-for="ProviderId_New">
                    <option value=""></option>
                </select>
            </td>
            <td>
                <a asp-controller="Providers" asp-action="Add" target="_blank"
                   style="text-decoration: underline" class="text-dark" title="Добавить нового поставщика">
                    <img src="~/images/icon-add.png" class="img-mini-btn-icon" alt="[+] "/>Добавить
                </a>
            </td>
        </tr>
        <tr>
            <th>Производитель</th>
            <td>@Model.Producer_Old</td>
            <td>
                <select asp-items="@Model.Producers" asp-for="ProducerId_New">
                    <option value=""></option>
                </select>
            </td>
            <td>
                <a asp-controller="Producers" asp-action="Add" target="_blank"
                   style="text-decoration: underline" class="text-dark" title="Добавить нового производителя">
                    <img src="~/images/icon-add.png" class="img-mini-btn-icon" alt="[+] "/>Добавить
                </a>
            </td>
        </tr>
        <tr>
            <th>Название реактива</th>
            <td>@Model.ReactiveName_Old</td>
            <td colspan="2">
                <input type="text" asp-for="ReactiveName_New" style="width: 100%"/>
            </td>
        </tr>
        <tr>
            <th>Серийный номер реактива</th>
            <td>@Model.ReactiveSn_Old</td>
            <td colspan="2">
                <input type="text" asp-for="ReactiveSn_New"/>
            </td>
        </tr>
        <tr>
            <th>Объём поставки</th>
            <td>
                Поставка:
                @Model.StartCountString
                (@Model.ProducerCountString)
                <br/>
                Остатки: @Model.CurrentCountString
            </td>
            <td colspan="2">
                @if (User.IsInRole("Администратор") || User.IsInRole("Создатель"))
                {
                    <a asp-controller="Reactives" asp-action="EditCounts" asp-route-Lkksn="@Model.Lkksn" 
                       style="text-decoration: underline" class="text-dark" title="Внести изменения в объёмы поставки">
                        <img src="~/images/icon-edit.png" class="img-mini-btn-icon" alt="[=] "/>Правка
                    </a>
                }
                else
                {
                    <span style="color: gray">-доступно только администратору-</span>
                }
            </td>
        </tr>
        <tr>
            <th>Срок годности</th>
            <td>
                @if ((Model.UnlimitedLifeTime_Old))
                {
                    <text>бессрочно</text>
                }
                else
                {
                    <text>@Model.ValidUntil_Old?.ToString("dd.MM.yyyy")</text>
                }

            </td>
            <td colspan="2">
                <input type="checkbox" id="valid_checkbox" asp-for="UnlimitedLifeTime_New"
                       onclick="EnableDisable('valid_checkbox', 'datepicker', false)"/>
                <label for="valid_checkbox">бессрочно</label>
                @if (Model.UnlimitedLifeTime_New)
                {
                    <input type="date" asp-for="ValidUntil_New" id="datepicker" disabled="disabled"/>
                }
                else
                {
                    <input type="date" asp-for="ValidUntil_New" id="datepicker"/>
                }
            </td>
        </tr>
        <tr>
            <th>Место хранения</th>
            <td>@Model.StoredAt_Old</td>
            <td colspan="2">
                <select asp-for="StoredAt_NewSelected" asp-items="@Model.Stores">
                    <option value=""></option>
                </select>
                <input type="text" asp-for="StoredAt_NewInserted"/>
                <br/>
                <span style="color: gray; font-size: x-small">
                    Если введено значение вручную то выбор из выпадающего списка игнорируется.
                </span>
            </td>
        </tr>
        <tr>
            <th>Комментарий</th>
            <td>@Model.Comment_Old</td>
            <td colspan="2">
                <input type="text" asp-for="Comment_New" style="width: 100%"/>
            </td>
        </tr>
        <tr>
            <th>Атрибуты</th>
            <td>
                @if (Model.Attributes_Old != null && Model.Attributes_Old.Any())
                {
                    <ul>
                        @foreach (var item in Model.Attributes_Old)
                        {
                            <li>@item</li>
                        }
                    </ul>
                }
                else
                {
                    <text>-нет-</text>
                }
            </td>
            <td>
                @if ((Model.Attributes_New != null && Model.Attributes_New.Any()))
                {
                    foreach (var pair in Model.AttributesNames)
                    {
                        @Html.CheckBoxFor(m => m.Attributes_New[pair.Key], pair.Value)
                        <label for="Attributes_New_@(pair.Key)_">
                            @if (Model.AttributesNames.ContainsKey(pair.Key))
                            {
                                <text>@Model.AttributesNames[pair.Key]</text>
                            }
                            else
                            {
                                <text>Атрибут @pair.Key</text>
                            }
                        </label><br/>
                    }
                }
                else
                {
                    <text>Атрибуты в базе данных не зарегистрированы.</text>
                }
            </td>
            <td>
                <a asp-controller="ReactivesAttributes" asp-action="Add" target="_blank"
                   style="text-decoration: underline" class="text-dark" title="Добавить новый атрибут поставки">
                    <img src="~/images/icon-add.png" class="img-mini-btn-icon" alt="[+] "/>Добавить
                </a>
            </td>
        </tr>
    </table>

    <div class="text-center">
        <a asp-controller="Reactives" asp-action="Info" asp-route-lkksn="@Model.Lkksn" style="text-decoration: none">
            <input type="button" class="btn btn-outline-dark margined-for-5px" value="Отмена"/>
        </a>

        <input type="submit" class="btn btn-success margined-for-5px" value="Сохранить"/>
    </div>
</form>