﻿@model WebApplication.Models.Reactives.ReactivesEditCountRowModel
@{
    ViewData["Title"] = "Изменение строки в истории поставки реактива";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Reactives" asp-action="EditCountRow">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div style="display: none">
        <input type="hidden" asp-for="Id"/>
        <input type="hidden" asp-for="Lkksn"/>
        <input type="hidden" asp-for="RecordComment"/>
        <input type="hidden" asp-for="RecordDate_Old"/>
        <input type="hidden" asp-for="Delta_Old"/>
        <input type="hidden" asp-for="Count_Old"/>
        <input type="hidden" asp-for="MesUnits"/>
    </div>

    <table class="table-bordered">
        <tr>
            <th style="text-align: center">Категория</th>
            <th style="text-align: center">Старое значение</th>
            <th style="text-align: center">Новое значение</th>
        </tr>
        <tr>
            <th>Дата</th>
            <td>@Model.RecordDate_Old</td>
            <td><input type="datetime" asp-for="RecordDate_New"/></td>
        </tr>
        <tr>
            <th>Комментарий</th>
            <td>@Model.RecordComment</td>
            <td style="color: gray">-не доступно-</td>
        </tr>
        <tr>
            <th>Изменение</th>
            <td>@Model.Delta_Old</td>
            <td><input type="text" asp-for="Delta_New"/> @Model.MesUnits </td>
        </tr>
        <tr>
            <th>Остаток</th>
            <td>@Model.Count_Old</td>
            <td><input type="text" asp-for="Count_New"/> @Model.MesUnits</td>
        </tr>
        <tr>
            <th>Заметка к изменению</th>
            <td colspan="2"><input type="text" asp-for="EditingComment"/></td>
        </tr>
    </table>
    
    <div style="color: darkblue; font-size: small">
        Обратите внимание: Изменения коснутся только выбранной строки данных и никак не скажутся ни на
        текущие остатки, ни на другие строки истории. Для обеспечения связанности данных Вам необходимо
        будет вручную изменить их. Также стоит понимать, что значения "изменение" и "остаток" также не 
        проверяются на их взаимную связь.
    </div>
    
    <div class="text-center">
        <a asp-controller="Reactives" asp-action="EditCounts" asp-route-lkksn="@Model.Lkksn" style="text-decoration: none">
            <input type="button" class="btn btn-outline-dark margined-for-5px" value="Отмена"/>
        </a>
        
        <input type="submit" class="btn btn-warning margined-for-5px" value="Изменить"/>
    </div>
</form>