﻿@model WebApplication.Models.Reactives.ReactivesEditCountsModel
@{
    ViewData["Title"] = "Изменение объёма поставки";
}

<h2>@ViewData["Title"]</h2>

<div style="text-align: right">
    <a asp-controller="Reactives" asp-action="Info" asp-route-lkksn="@Model.Lkksn" 
       target="_blank" title="Подробнее о поставке" class="text-dark" style="text-decoration: underline">
        <img src="~/images/icon-info.png" class="img-mini-btn-icon" alt="[?]"/> Подробнее
    </a>
</div>

<form asp-controller="Reactives" asp-action="EditCounts">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div style="display: none">
        <input type="hidden" asp-for="Lkksn"/>
        <input type="hidden" asp-for="ProducerCount_Old"/>
        <input type="hidden" asp-for="ProducerMesUnits_Old"/>
        <input type="hidden" asp-for="StartCount_Old"/>
        <input type="hidden" asp-for="StartMesUnits_Old"/>
        <input type="hidden" asp-for="CurrentCount_Old"/>
    </div>
    
    <h4>Начальные значения</h4>
    <table>
        <tr>
            <th>Категория</th>
            <th>Текущее значение</th>
            <th>Новое значение</th>
        </tr>
        <tr>
            <th>Объём поставки в единицах производителя</th>
            <td>@Model.ProducerCount_Old @Model.ProducerMesUnits_Old</td>
            <td>
                <input type="text" asp-for="ProducerCount_New" style="width: 150px"/>
                <select asp-for="ProducerMesUnits_New" asp-items="@Model.MesUnitsProducer">
                    <option value=""></option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Учётные единицы</th>
            <td>@Model.StartMesUnits_Old</td>
            <td>
                <select asp-for="StartMesUnits_New" asp-items="@Model.MesUnitsCounted">
                    <option value=""></option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Объём поставки в учётных единицах</th>
            <td>@Model.StartCount_Old</td>
            <td>
                <input type="text" asp-for="StartCount_New"/>
            </td>
        </tr>
        <tr>
            <th>Текущие остатки в учётных единицах</th>
            <td>@Model.CurrentCount_Old</td>
            <td>
                <input type="text" asp-for="CurrentCount_New"/>
            </td>
        </tr>
        <tr>
            <th>Заметка к изменению</th>
            <td colspan="2">
                <input type="text" asp-for="EditingComment"/>
            </td>
        </tr>
    </table>
    
    <div style="color: darkblue; font-size: small">
        Обратите внимание: изменение текущих и начальных значений никак не повлияет на 
        историю операций по поставке. Для обеспечения связанности данных её необходимо
        также поправить вручную.
    </div>
    
    <div class="text-center">
        <a asp-controller="Reactives" asp-action="Change" asp-route-lkksn="@Model.Lkksn"
           style="text-decoration: none">
            <input type="button" class="btn btn-outline-dark margined-for-5px" value="Отмена"/>
        </a>
        <input type="submit" class="btn btn-warning margined-for-5px" value="Изменить"/>
    </div>
</form>

<h4>Изменить историю поставки</h4>
<table class="table-bordered hightlightrows">
    <tr>
        <th style="text-align: center">Дата</th>
        <th style="text-align: center">Комментарий</th>
        <th style="text-align: center">Изменение</th>
        <th style="text-align: center">Остаток</th>
        <th style="text-align: center">Правка</th>
    </tr>
    @if (Model.Rows != null && Model.Rows.Any())
    {
        foreach (var row in Model.Rows)
        {
            <tr>
                <td>@row.RecordDate_Old</td>
                <td>@row.RecordComment</td>
                <td>@row.Delta_Old</td>
                <td>@row.Count_Old</td>
                <td style="text-align: center">
                    @if (row.Delta_Old != null && row.Count_Old != null)
                    {
                        <a asp-action="EditCountRow" asp-controller="Reactives" asp-route-id="@row.Id" asp-route-lkksn="@row.Lkksn"
                           style="text-decoration: none" title="Править строку данных в истории поставки реактива">
                            <img src="~/images/icon-edit.png" alt="[=]" class="img-mini-btn-icon"/>
                        </a>
                    }
                    else
                    {
                        <span style="color: gray">-</span>
                    }
                </td>
            </tr>
        }
    }
</table>