﻿@model WebApplication.Models.Reactives.ReactivesEditSpecificationModel
@{
    ViewData["Title"] = "Администратор: правка спецификации для поставки";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Reactives" asp-action="EditReactiveSpecification">
    <div>Действие затронет поставку с номером серии ЛКК <b>@Model.Lkksn</b></div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div style="display: none">
        <input type="hidden" asp-for="Lkksn" />
    </div>

    <table>
        <tr>
            <th>Спецификация</th>
            <td>
                <input type="text" asp-for="InsertedSpecification" maxlength="3" />
                <a asp-controller="Specifications" asp-action="Index" target="_blank"
                   style="text-decoration: none" class="text-dark" title="Поиск спецификаций">
                    <img src="~/images/icon-info.png" alt="[?]" class="img-mini-btn-icon margined-for-5px" />
                </a>
                <a asp-controller="Specifications" asp-action="Add" target="_blank"
                   style="text-decoration: none" class="text-dark" title="Добавить спецификацию">
                    <img src="~/images/icon-add.png" alt="[+]" class="img-mini-btn-icon margined-for-5px" />
                </a>
                <select asp-items="@Model.Specifications" asp-for="SelectedSpecification">
                    <option value=""></option>
                </select>
                <div style="color: gray; font-size: x-small">
                    Если номер спецификации введён вручную, номер, выбранный в выпадающем списке, игнорируется.
                </div>
            </td>
        </tr>
        <tr>
            <th>Номер доставки</th>
            <td>
                <input type="text" asp-for="DeliveryNumber" />
                <a asp-controller="Reactives" asp-action="Index" target="_blank"
                   style="text-decoration: none" class="text-dark" title="Поиск поставок">
                    <img src="~/images/icon-info.png" alt="[?]" class="img-mini-btn-icon margined-for-5px"/>
                </a>
                <div style="color: gray; font-size: x-small">
                    Номер поставки и спецификации не должен совпадать с существующими за выбранный год.
                </div>
            </td>
        </tr>
        <tr>
            <th>Дата доставки</th>
            <td>
                <input type="date" asp-for="Date" />
            </td>
        </tr>
    </table>

    <div class="text-center">
        <a asp-controller="Reactives" asp-action="Change" asp-route-lkksn="@Model.Lkksn" style="text-decoration: none">
            <input type="button" class="btn btn-outline-dark margined-for-5px" value="Отмена" />
        </a>

        <input type="submit" class="btn btn-success margined-for-5px" value="Сохранить" />
    </div>
</form>