﻿@using WebApplication.Models.Shared
@model WebApplication.Models.Reactives.ReactivesIndexFilterModel
@{
    ViewData["Title"] = "Поставки реактивов";
}

<h2>@ViewData["Title"]</h2>

<div style="text-align: right; text-decoration: none">
    <a asp-controller="Specifications" asp-action="Index" class="text-dark" style="text-decoration: underline">
        <img src="images/icon-add.png" alt="[+]" class="img-mini-btn-icon" />
        Новая поставка
    </a>
</div>

<h4>
    <input type="checkbox" id="filter_chb" onclick="ShowHide('filter_chb', 'filter_div')" />
    <label for="filter_chb"> Поиск</label>
</h4>

<div id="filter_div" style="display: none" )>
    <form asp-controller="Reactives" asp-action="Index">
        <table>
            <tr>
                <th>За период</th>
                <td>
                    год
                    <input type="text" asp-for="Filter_YearInserted" maxlength="4" style="width: 75px" />
                    месяц
                    <select asp-for="Filter_MonthSelected" asp-items="@Common.Months"></select>
                </td>
            </tr>
            <tr>
                <th>Спецификация</th>
                <td>
                    @if (Model.Specifications != null && Model.Specifications.Any())
                    {
                        <select asp-for="Filter_Lkksn_SpecificationSelected">
                            <option value="-1"></option>
                            @foreach (var spec in Model.Specifications)
                            {
                                <option value="@spec.Value">@spec.Value - @spec.Text</option>
                            }
                        </select>
                        <input type="text" asp-for="Filter_SpecificationNameLike" />
                    }
                    else
                    {
                        <span>Спецификации не обнаружены в базе данных</span>
                    }
                </td>
            </tr>
            <tr>
                <th>Серия ЛКК:</th>
                <td>
                    <div class="row">
                        <div class="form-group">
                            <input type="text" asp-for="Filter_Lkksn_SpecificationLike" maxlength="3" style="width: 40px" />
                        </div>
                        <div class="form-group">
                            / <input type="text" asp-for="Filter_Lkksn_NumberLike" maxlength="2" style="width: 30px" />
                        </div>
                        <div class="form-group">
                            / <input type="date" asp-for="Filter_Lkksn_Date" />
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Статус списания:</th>
                <td>
                    @foreach (var item in Model.WrittenOff)
                    {
                        <input type="radio" asp-for="Filter_WrittenOff" value="@item.Value" id="fwo_@item.Value" checked="@item.Selected" />
                        <label for="fwo_@item.Value">@item.Text</label>
                    }
                </td>
            </tr>
            <tr>
                <th>Поставщик</th>
                <td>
                    @if (Model.Providers != null && Model.Providers.Any())
                    {
                        <select asp-for="Filter_ProviderSelected">
                            <option value="-1" selected="selected"></option>
                            @foreach (var prov in Model.Providers)
                            {
                                <option value="@prov.Value" selected="@prov.Selected">@prov.Text</option>
                            }
                        </select>
                    }
                    else
                    {
                        <span>Поставщики не обнаружены в базе данных</span>
                    }
                </td>
            </tr>
            <tr>
                <th>Производитель</th>
                <td>
                    @if (Model.Producers != null && Model.Producers.Any())
                    {
                        <select asp-for="Filter_ProducerSelected">
                            <option value="-1" selected="selected"></option>
                            @foreach (var prod in Model.Producers)
                            {
                                <option value="@prod.Value" selected="@prod.Selected">@prod.Text</option>
                            }
                        </select>
                    }
                    else
                    {
                        <span>Производители не обнаружены в базе данных</span>
                    }
                </td>
            </tr>
            <tr>
                <th style="vertical-align: top">Атрибуты</th>
                <td>
                        @if (Model.Filter_Attributes != null && Model.Filter_Attributes.Any())
                        {
                            @foreach (var pair in Model.Filter_Attributes)
                            {
                                @Html.CheckBoxFor(m => m.Filter_Attributes[pair.Key], pair.Value)
                                <label for="Filter_Attributes_@(pair.Key)_">
                                    @if (Model.AttributesNames.ContainsKey(pair.Key))
                                    {
                                        <text>@Model.AttributesNames[pair.Key]</text>
                                    }
                                    else
                                    {
                                        <text>Атрибут @pair.Value</text>
                                    }
                                </label>
                            }
                        }
                        else
                        {
                            <text>Атрибуты в базе данных не зареистрированы</text>
                        }
                </td>
            </tr>
            <tr>
                <th>Комментарий</th>
                <td><input type="text" asp-for="Filter_CommentsLike" style="width: 100%" /></td>
            </tr>
            <tr>
                <th>Сортировать</th>
                <td><select asp-items="@Model.SortByOptions" asp-for="SortBySelected"></select></td>
            </tr>
            <tr>
                <th>Ограничение</th>
                <td>
                    не более 
                    <input type="text" maxlength="3" style="width: 45px" asp-for="ResultRowsCountLimit"/>
                    строк в ответе
                </td>
            </tr>
        </table>
        <div class="text-center">
            <a asp-controller="Reactives" asp-action="Index" style="text-decoration: none">
                <input type="button" class="btn btn-outline-dark margined-for-5px" value="Сброс" />
            </a>
            <input type="submit" class="btn btn-outline-dark margined-for-5px" value="Поиск" />
        </div>
    </form>
</div>

<div>
    <h4>@ViewData["Title"]</h4>
    
    <div style="color: gray; font-size: small; margin: 0 0 7px 0">
        Ограничение вывода - не более @Model.ResultRowsCountLimit (строк)
    </div>

    @if (Model.Reactives != null && Model.Reactives.Any())
    {
        <table class="table-bordered hightlightrows">
            <tr>
                <th style="text-align: center; width: 140px">Серия ЛКК</th>
                <th style="text-align: center">Спецификация</th>
                <th style="text-align: center">Остаток</th>
                <th style="text-align: center">Годен до</th>
                <th style="text-align: center">Списание</th>
                <th style="text-align: center; width: 150px">Правка</th>
            </tr>
            @foreach (var reactive in Model.Reactives)
            {
                <tr>
                    <td>@reactive.Lkksn</td>
                    <td>
                        <a asp-controller="Reactives" asp-action="Info" asp-route-lkksn="@reactive.Lkksn">
                           @reactive.Specification
                        </a>
                    </td>
                    <td>@reactive.Count @reactive.MesUnitShort</td>
                    <td>@(reactive.IsValidForever? "бессрочно" : reactive.ValidUntil?.ToString("dd.MM.yyyy"))</td>
                    <td>
                        @if (reactive.IsWrittenOff)
                        {
                            <span style="color: gray">списан</span>
                        }
                        else
                        {
                            <span style="color: darkblue">нет</span>
                        }
                    </td>
                    <td style="text-align: center">
                        <a asp-controller="Reactives" asp-action="Info" asp-route-lkksn="@reactive.Lkksn"
                           class="text-dark margined-for-5px" style="text-decoration: none" title="Подробнее">
                            <img src="images/icon-info.png" class="img-mini-btn-icon" alt="[?]" />
                        </a>
                        <a asp-controller="Reactives" asp-action="UseUp" asp-route-lkksn="@reactive.Lkksn"
                           class="text-dark margined-for-5px" style="text-decoration: none" title="Израсходовать реактив">
                            <img src="images/icon-useup.png" class="img-mini-btn-icon" alt="[=]" />
                        </a>
                        <a asp-controller="Reactives" asp-action="WriteOnOff" asp-route-lkksn="@reactive.Lkksn"
                           class="text-dark margined-for-5px" style="text-decoration: none" title="Списать реактив">
                            <img src="images/icon-writeoff.png" class="img-mini-btn-icon" alt="[=]" />
                        </a>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>Нет данных для отображения</p>
    }

</div>
