﻿@using WebApplication.Models.Reactives
@model WebApplication.Models.Reactives.ReactivesInfoModel
@{
    ViewData["Title"] = "Детальная информация о поставке реактива";
}

<h2>@ViewData["Title"]</h2>

<h4>Начальное состояние</h4>
<table>
    <tr>
        <th style="min-width: 170px">Серия ЛКК</th>
        <td>@Model.Lkksn</td>
    </tr>
    <tr>
        <th>Спецификация</th>
        <td>@Model.Specification</td>
    </tr>
    <tr>
        <th>Поставщик</th>
        <td>@Model.ProviderName</td>
    </tr>
    <tr>
        <th>Производитель</th>
        <td>@Model.ProducerName</td>
    </tr>
    <tr>
        <th>Реактив [сер. №]</th>
        <td>
            @Model.ReactiveName
            @if (!string.IsNullOrWhiteSpace(Model.ReactiveSn))
            {<text>[@Model.ReactiveSn]</text>}
        </td>
    </tr>
    <tr>
        <th>Объём поставки</th>
        <td>
            @Model.StartCount @Model.CurMesUnit 
            @if (Model.ProducerCount != null && 
                 !(Model.StartCount == Model.ProducerCount && Model.CurMesUnit == Model.ProducerMesUnit))
            {
                <span style="color: gray">(@Model.ProducerCount @Model.ProducerMesUnit)</span>
            }
        </td>
    </tr>
</table>

<h4>Текущее состояние</h4>
<table>
    <tr>
        <th style="min-width: 170px">Остаток</th>
        <td>@Model.CurCount @Model.CurMesUnit</td>
    </tr>
    <tr>
        <th>Статус</th>
        <td>
            @(Model.CurIsWrittenOff ? "списан": "не списан")
        </td>
    </tr>
    <tr>
        <th>Срок годности</th>
        <td>@(Model.CurIsValidForever ? "бессрочно" : Model.CurValidUntil?.ToString("dd.MM.yyyy"))</td>
    </tr>
    <tr>
        <th>Место хранения</th>
        <td>@Model.CurStoredAt</td>
    </tr>
    <tr>
        <th style="vertical-align: top">Атрибуты</th>
        <td>
            @if (Model.CurAttributesNames != null && Model.CurAttributesNames.Any())
            {
                <ul>
                    @foreach (var item in Model.CurAttributesNames)
                    {
                        <li>@item</li>
                    }
                </ul>
            }
            else
            {
                <text>-нет-</text>
            }
        </td>
    </tr>
    <tr>
        <th>Комментарии</th>
        <td>@Model.Comments</td>
    </tr>
</table>

<div class="text-center">
    <a asp-controller="Reactives" asp-action="Index" style="text-decoration: none">
        <input type="button" class="btn btn-outline-dark margined-for-5px" value="К списку" />
    </a>
    <a asp-controller="Reactives" asp-action="UseUp" asp-route-lkksn="@Model.Lkksn" style="text-decoration: none">
        <input type="button" class="btn btn-outline-info margined-for-5px" value="Израсходовать"/>
    </a>
    <a asp-controller="Reactives" asp-action="WriteOnOff" asp-route-lkksn="@Model.Lkksn" style="text-decoration: none">
        <input type="button" class="btn btn-outline-info margined-for-5px" value="Статус списания"/>
    </a>
    <a asp-controller="Reactives" asp-action="Change" asp-route-lkksn="@Model.Lkksn" style="text-decoration: none">
        <input type="button" class="btn btn-outline-danger margined-for-5px" value="Изменения"/>
    </a>
</div>

<h4>История</h4>
<table style="font-size: small" class="table-bordered hightlightrows">
    <tr>
        <th style="text-align: center" rowspan="2">Дата</th>
        <th style="text-align: center" rowspan="2">Пользователь</th>
        <th style="text-align: center" rowspan="2">Примечание</th>
        <th style="text-align: center" colspan="2">Остаток [@Model.CurMesUnitShort]</th>
        <th style="text-align: center" rowspan="2">Списан?</th>
        <th style="text-align: center" rowspan="2">Срок годности</th>
        <th style="text-align: center" rowspan="2">Место хранения</th>
        <th style="text-align: center" rowspan="2">Атрибуты</th>
        <th style="text-align: center" rowspan="2">Иное</th>
    </tr>
    <tr>
        <th style="text-align: center">изменение</th>
        <th style="text-align: center">новое значение</th>
    </tr>
    @if (Model.Changes != null && Model.Changes.Any())
    {
        ReactivesInfoHistoryModel prev = null;
        @foreach(var item in Model.Changes)
        {
            <tr>
                <td>@item.Date?.ToString("dd.MM.yyyy HH:mm:ss")</td>
                <td>@item.CreatedBy</td>
                <td>@item.RecordComment</td>
                <td>
                    @if (prev == null || prev.NewCount != item.NewCount)
                    {
                        if (item.DeltaCount < 0)
                        {
                            <span style="color: darkred">@item.DeltaCount</span>
                        }
                        else if (item.DeltaCount > 0)
                        {
                            <span style="color: darkgreen">+@item.DeltaCount</span>
                        }
                    }
                </td>
                <td>
                    @if (prev == null || prev.NewCount != item.NewCount)
                    {
                        @item.NewCount
                    }
                </td>
                <td>
                    @if (prev == null)
                    {
                        @((item.IsWrittenOff ?? false) ? "Да" : "Нет")
                    }
                    else
                    {
                        if (item.IsWrittenOff != null && item.IsWrittenOff != prev.IsWrittenOff)
                        {
                            @((item.IsWrittenOff ?? false) ? "Да" : "Нет")
                        }
                    }
                </td>
                <td>
                    @if(prev == null)
                    {
                        @((item.IsValidForever ?? false) ? "бессрочно" : item.ValidUntilDate?.ToString("dd.MM.yyyy"))
                    }
                    else
                    {
                        if (prev.IsValidForever != item.IsValidForever
                            || prev.ValidUntilDate != item.ValidUntilDate)
                        {
                            @((item.IsValidForever ?? false) ? "бессрочно" : item.ValidUntilDate?.ToString("dd.MM.yyyy"))
                        }
                    }
                </td>
                <td>@item.StoredAt</td>
                <td>@item.Attributes</td>
                <td>
                    @if (!string.IsNullOrWhiteSpace(item.OtherChanges))
                    {
                        <a onclick="alert('@item.OtherChanges')" 
                           style="cursor: pointer; text-decoration: underline; color: darkblue" title="Просмотреть">
                            -изменения-
                        </a>
                    }
                    else
                    {
                        <span style="color: gray">-</span>
                    }
                </td>
            </tr>
            prev = item;
        }
    }
    else
    {
        <tr>
            <td colspan="11">Данные по истории не обнаружены в базе данных</td>
        </tr>
    }
</table>