﻿@model WebApplication.Models.Reactives.ReactivesUseUpModel
@{
    ViewData["Title"] = "Расходование реактива";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Reactives" asp-action="UseUp">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div style="display: none">
        <input type="hidden" asp-for="Lkksn" />
        <input type="hidden" asp-for="CurrentCount" />
        <input type="hidden" asp-for="IsAlready_WrittenOff" />
        <input type="hidden" asp-for="MesUnits" />
    </div>
    <table>
        <tr>
            <th>Серия ЛКК</th>
            <td>@Model.Lkksn</td>
        </tr>
        <tr>
            <th>Текущее состояние</th>
            <td>
                @Model.CurrentCount @Model.MesUnits
                @if (Model.IsAlready_WrittenOff)
                {
                    <span style="color: darkred">(списан)</span>
                }
                else
                {
                    <span style="color: gray">(не списан)</span>
                }
            </td>
        </tr>
        <tr>
            <th>Израсходовать</th>
            <td><input type="text" asp-for="ChangeCount" /> @Model.MesUnits</td>
        </tr>
        @if (!Model.IsAlready_WrittenOff)
        {
            <tr>
                <th>Дополнительно</th>
                <td>
                    <input type="checkbox" asp-for="WriteOff_IfEnds" id="write_off" />
                    <label for="write_off">Сразу списать при полном расходовании реагента</label>
                </td>
            </tr>
        }
    </table>
    <div class="text-center">
        <a asp-controller="Reactives" asp-action="Info" asp-route-lkksn="@Model.Lkksn" style="text-decoration: none">
            <input type="button" class="btn btn-outline-dark margined-for-5px" value="Отмена" />
        </a>

        <input type="submit" class="btn btn-success margined-for-5px" value="Израсходовать" />
    </div>
</form>