﻿@model WebApplication.Models.Reactives.ReactivesWriteOnOffModel
@{
    ViewData["Title"] = "Сменить статус списания";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Reactives" asp-action="WriteOnOff">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div style="display: none">
        <input type="hidden" asp-for="Lkksn"/>
        <input type="hidden" asp-for="CurrentCount"/>
        <input type="hidden" asp-for="MesUnits"/>
        <input type="hidden" asp-for="IsAlready_WrittenOff"/>
    </div>
    <table>
        <tr>
            <th>Серия ЛКК</th>
            <td>@Model.Lkksn</td>
        </tr>
        <tr>
            <th>Остатки</th>
            <td>@Model.CurrentCount @Model.MesUnits</td>
        </tr>
        <tr>
            <th>Статус</th>
            <td>
                @if (Model.IsAlready_WrittenOff)
                {
                    <span style="color: darkred">Списан</span>
                }
                else
                {
                    <span style="color: darkblue">Не списан</span>
                }
            </td>
        </tr>
    </table>

    Установить новый статус списания:
    <select asp-for="SetWrittenOff" asp-items="@Model.WrittenOffStates"></select>
    <input type="checkbox" asp-for="IgnoreNotNullCount" id="ignore_count"/>
    <label for="ignore_count">Игнорировать ненулевые остатки</label>

    <div class="text-center">
        <a asp-controller="Reactives" asp-action="Info" asp-route-lkksn="@Model.Lkksn" style="text-decoration: none">
            <input type="button" class="btn btn-outline-dark margined-for-5px" value="Отмена"/>
        </a>

        <input type="submit" class="btn btn-success margined-for-5px" value="Принять"/>
    </div>
</form>