﻿@model WebApplication.Models.Providers.ProviderEditModel
@{
    ViewData["Title"] = "Изменение поставщика";
}

<h2>@ViewData["Title"]</h2>

<div>
    <p>Будет изменена информация о следующем поставщике</p>
    <table>
        <tr>
            <th>Имя (№)</th>
            <td>@Model.OldName (@Model.Id)</td>
        </tr>
        <tr>
            <th>Комментарий</th>
            <td>@Model.OldComment</td>
        </tr>
        <tr>
            <th>Создан</th>
            <td>@Model.RecordIdentity.CreatedString</td>
        </tr>
        <tr>
            <th>Изменён</th>
            <td>@Model.RecordIdentity.ChangedString</td>
        </tr>
    </table>
</div>

<form asp-controller="Providers" asp-action="Edit">
    <div style="display: none">
        <input type="hidden" asp-for="Id"/>
        <input type="hidden" asp-for="OldName"/>
        <input type="hidden" asp-for="OldComment"/>
        <input type="hidden" asp-for="RecordIdentity.IdCode"/>
        <input type="hidden" asp-for="RecordIdentity.CreatedAtDate"/>
        <input type="hidden" asp-for="RecordIdentity.CreatedBy"/>
        <input type="hidden" asp-for="RecordIdentity.ChangedAtDate"/>
        <input type="hidden" asp-for="RecordIdentity.ChangedBy"/>
    </div>
    
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="NewName">Новое имя</label>
        <input type="text" asp-for="NewName"/>
    </div>
    <div class="form-group">
        <label asp-for="NewComment">Новый комментарий</label>
        <input type="text" asp-for="NewComment"/>
    </div>
    
    <div class="text-center">
        <a asp-controller="Providers" asp-action="Index" style="text-decoration: none">
            <input type="button" class="btn btn-outline-dark margined-for-5px" value="Отмена"/>
        </a>
        <input type="submit" class="btn btn-success margined-for-5px" value="Изменить"/>
    </div>
</form>