﻿@model WebApplication.Models.Providers.ProviderInfoModel
@{
    ViewData["Title"] = "Информация о поставщике";
}

<h2>@ViewData["Title"] № @Model.Id</h2>

<table>
    <tr>
        <th>Название</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Комментарий</th>
        <td>@Model.Comment</td>
    </tr>
    <tr>
        <th>Создан</th>
        <td>@Model.RecordIdentity.CreatedString</td>
    </tr>
    <tr>
        <th>Изменён</th>
        <td>@Model.RecordIdentity.ChangedString</td>
    </tr>
</table>

<div class="text-center">
    <a asp-controller="Providers" asp-action="Index" style="text-decoration: none">
        <input type="button" class="btn btn-outline-dark margined-for-5px" value="Назад"/>
    </a>
    <a asp-controller="Providers" asp-action="Edit" asp-route-id="@Model.Id" style="text-decoration: none">
        <input type="button" class="btn btn-warning margined-for-5px" value="Изменить"/>
    </a>
    @if (User.IsInRole("Администратор") || User.IsInRole("Создатель"))
    {
        <a asp-controller="Providers" asp-action="Delete" asp-route-id="@Model.Id" style="text-decoration: none">
            <input type="button" class="btn btn-danger margined-for-5px" value="Удалить"/>
        </a>
    }
</div>