﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* dmicher styles
----------------------------------------------------*/
td, th {
    padding: 3px 10px;
}

.hightlightrows tbody tr:hover {
    background-color: lightblue
}

.margined-for-5px {
    margin: 0 5px
}

.img-mini-btn-icon {
    height: 15px; 
    margin: 0 5px;
    border-radius: 4px;
}

.img-mini-btn-icon:hover {
        background-color: lightcoral;
        height: 17px;
}

.hidden-hint {
    display: none;
    color: darkblue;
    font-size: small
}

.block {
    border: 2px solid #000070;
    border-radius: 10px;
    margin: 10px;
}

.img-block-logo {
    float: left;
    height: 65px;
    margin: 10px;
}